[2019-03-13 05:25] robertbaker opened #33 "provide npm package when ready for testing"

[2019-03-13 06:10] jperasmus commented on #33
Hi, @robertbaker, thanks for opening this issue. We'll make the package available as an alpha release within the next couple of days. Would be great to get your feedback then. Will post here once it is ready.

[2019-03-15 14:18] jperasmus commented on #33
If you feel particularly adventurous, you can try out the new SDK now available as a pre-release. (`npm i flamelink@next`)

Disclaimer: I do NOT recommend you use it in any production code just yet. It is brand new and will still undergo heavy testing before it will be generally available. Since it is an alpha release, things might (and probably will!) change without notice.

If you do choose to c

[2019-03-25 15:27] jordanch opened #40 "can populate media field get multiple image sizes?"
populating content with relational media data returns a single url for a  single image size, could relational populate for media fields work similarly to `storage.getURL()` [doc](https://github.com/flamelink/flamelink-js-sdk/blob/master/docs/storage.md#geturl-examples) where an option `size: 'device'` returns a device-size-relative image or have an object map of sizes to URLs?

Thanks

[2019-03-26 07:02] jperasmus commented on #40
Hi, I can take a look. It uses the `storage.getURL()` method internally, so might be as easy as making sure the `size` option is passed through to that method. Will let you know.

[2019-03-26 12:12] jperasmus commented on #40
https://github.com/flamelink/flamelink-js-sdk/pull/42 should hopefully take care of this. It will be available in the next alpha release.

[2019-04-08 10:45] #33 closed

[2019-04-14 19:29] gabber235 opened #50 "Cannot read property 'get' of null"
When running a get query it doesn't work.

Imports:
`import flamelink from 'flamelink/app';
import 'flamelink/content';
import 'flamelink/storage';
import 'flamelink/schemas';

const firebaseApp = admin.initializeApp(functions.config());
const app = flamelink({ firebaseApp, dbType: 'cf', precache: false });`

Query:
`await app.content.get({ schemaKey: schema, entryId: id, populate: true })`
the sc

[2019-04-15 06:13] jperasmus commented on #50
Hi @gabber235

Is `homePage` a collection or a single type of schema? If it is a single, you only need to specify the `schemaKey`.

[2019-04-15 06:15] gabber235 commented on #50
It's a single type, so I will try that.

[2019-04-15 06:24] jperasmus commented on #50
Great, let me know how that goes for you. I will also take a look if there is a way to make the SDK code check a bit more robust for this scenario.

[2019-04-15 17:43] gabber235 commented on #50
Hey @jperasmus,

I have changed the entryId to `const entryId = schemaType === 'single' ? undefined : id` and I get `undefined` which I run in `app.content.get({ schemaKey: schema, entryId: entryId, populate: true })` but I still get the same error

[2019-04-15 18:54] jperasmus commented on #50
Okay, I will deploy a newer version that will explicitly check for this use case, which should hopefully resolve this issue for you. I'll let you know as soon as it is available.

[2019-04-15 19:18] jperasmus commented on #50
`v1.0.0-alpha.8` is now available. Can you upgrade to it and test whether you're still experiencing this issue?

[2019-04-16 07:11] gabber235 commented on #50
Now I have got this error

`Error: Bucket name not specified or invalid. Specify a valid bucket name via the storageBucket option when initializing the app, or specify the bucket name explicitly when calling the getBucket() method.
    at FirebaseError.Error (native)
    at new FirebaseError (/user_code/node_modules/firebase-admin/lib/utils/error.js:42:28)
    at Storage.bucket (/user_code/node_mo

[2019-04-16 08:10] jperasmus commented on #50
This sounds like an issue with the Firebase admin app instance. Can you try and log out `functions.config()` so we can see what you have in there? You can also try and initialize your admin app without `functions.config()`

[2019-04-16 08:44] gabber235 commented on #50
The `functions.config() == {}` and when I run it without I get this error

`Error: A Forbidden error was returned while attempting to retrieve an access token for the Compute Engine built-in service account. This may be because the Compute Engine instance does not have the correct permission scopes specified. Identity and Access Management (IAM) API has not been used in project 676984383187 before

[2019-04-16 10:31] jperasmus commented on #50
Are you running this code on your local machine or from within Firebase Cloud Functions?

[2019-04-16 10:44] gabber235 commented on #50
From within the firebase cloud functions on a machine from Google

[2019-04-16 10:54] jperasmus commented on #50
Okay, this is not an issue with this Flamelink SDK anymore, but with the Firebase admin app initialization. This Flamelink SDK does not dictate how the `firebaseApp` instance is created, as long as it is valid to do what is needed. In this case, the `firebaseApp` instance does not have access to the storage bucket.

You will need to make sure that the way it is initialized, it includes the `storag

[2019-04-16 13:06] gabber235 commented on #50
Thanks for helping me, now everything works.

[2019-04-16 13:06] #50 closed

[2019-04-16 13:18] jperasmus commented on #50
It's a pleasure, I'm glad it is working now!

[2019-04-16 14:34] ribalnasr opened #52 "error TS1192: Module '".../@flamelink/sdk-app-types/index"' has no default export."
hello @jperasmus

thanks for the update!!
i started experimenting with the sdk and got the below error when i used it with TypeScript and Angular 7.

Error:
[code]
**To temporarily fix it from my end**, i had to go to each of the files above in the node_module folder and replace:
[code]
with:
[code]

[2019-04-16 19:37] ribalnasr opened #53 "Filter content.subscribe() query by field value as an alternative to query.where(fieldName, '==', value) in Firestore."
Is there a way in the current version to filter the results received in content.subscribe() as an alternative to

`query => query.where('project', '==', _SomeDocumentRef_)
`
in Firestore and AngularFire?

maybe something like this (which i tried):
[code]

[2019-04-16 19:51] ribalnasr commented on #53
just figured out the solution,

its "filters" not "filter", and the value is an Array of Arrays like this:

[code]

great work! :)

[2019-04-16 19:51] #53 closed

[2019-04-17 07:06] jperasmus commented on #53
Glad you got it. Using the array of arrays gives you the ability to apply as many filters as you'd like to your queries.

[2019-04-17 07:07] jperasmus commented on #52
Thanks for opening this issue. I'll take a look.

[2019-04-17 08:31] jperasmus commented on #52
Can you test `v1.0.0-alpha.9` and see if that fixes it for you?

[2019-04-17 09:34] ribalnasr commented on #52
Yep! It works.

[2019-04-17 09:36] jperasmus commented on #52
Great, thanks for checking

[2019-04-17 09:36] #52 closed

[2019-04-17 09:59] ribalnasr opened #55 "FirebaseError: Function WriteBatch.delete() requires its first argument to be a DocumentReference, but it was: a custom QueryDocumentSnapshot object"
looks like am gonna stick around for a while... :)

[code]
is giving this error:
`FirebaseError: Function WriteBatch.delete() requires its first argument to be a DocumentReference, but it was: a custom QueryDocumentSnapshot object.
`

note: i'm only testing with cloud firestore not rtdb.

[2019-04-17 10:00] jperasmus commented on #55
haha, cool, I'll take a look.

[2019-04-17 10:22] ribalnasr commented on #55
Also getting an error when trying to add:

[code]

Error: Uncaught (in promise): FirebaseError: [code=invalid-argument]: Function DocumentReference.set() called with invalid data. Unsupported field value: a custom Query object (found in field _fl_meta_.schemaRef)
FirebaseError: Function DocumentReference.set() called with invalid data. Unsupported field value: a custom Query object (found in field

[2019-04-17 11:42] jperasmus commented on #55
`v1.0.0-alpha.10` is now available that should address these 2 issues.

[2019-04-17 12:12] ribalnasr commented on #55
remove() now works,
add() works however:
1) it doesn't add locale to _fl_meta_ which i believe is the reason why it doesn't show in the cms not in the .get() and .subscribe()
2) the promise returns undefined, returning the id of the document would be great!

[2019-04-17 12:27] jperasmus commented on #55
You are absolutely right, the `locale` is missing. I'll fix that.

I like the idea of returning the new doc ID. If possible, I might take that a step further and return the whole document object. It is just important for us to have the API's for RTDB and CF to behave in the same way.

[2019-04-17 13:07] jperasmus commented on #55
Can you try `v1.0.0-alpha.11` please? It should fix the missing `locale` issue when adding an entry and it should now return the whole doc entry payload for the Promise response.

[2019-04-17 19:47] gabber235 commented on #40
First of all, is this already in the `1.0.0-alpha.11` version. If so, how would I enable the sized URLs to appear in a get request?

[2019-04-17 20:13] jperasmus commented on #40
A single sized URL is available in the latest alpha release, but not multiple sizes.

To specify a specific size for the URL to retrieve you can use the following `populate` syntax:

[code]

[2019-04-18 08:52] ribalnasr opened #58 "Individual import from 'flamelink/app' doesn't work: TypeError: flamelink is not a function"
importing from flamelink/app like this:

`import * as flamelink from 'flamelink/app';
`
i get the following error:

` ERROR TypeError: flamelink is not a function
`
typescript doesn't show this issue in visual code but it appears in the browser's console.

to make it work i have to import everything:
`import * as flamelink from 'flamelink';
`
which will results with a warning recommending that i o

[2019-04-18 09:10] jperasmus commented on #58
This is strange because it definitely worked before. Wonder if the changes I made to the Types yesterday is causing this now.

What happens when you do `import flamelink from 'flamelink/app'`?

[2019-04-18 09:18] ribalnasr commented on #58
nop, it's not because of changing the types. it was there since i started with alpha.8 or 9. but didn't tell you about it then because there we more important issues :D

when i `import flamelink from 'flamelink/app'` and serve (angular), i get

`ERROR TypeError: flamelink is not a function`
 which is caused by running the init function:
[code]

[2019-04-18 09:18] ribalnasr commented on #58
sorry closed it by mistake!

[2019-04-18 09:45] jperasmus commented on #58
Which version of Typescript are you using?

[2019-04-18 11:20] ribalnasr commented on #58
3.2.4

[2019-04-18 11:34] ribalnasr commented on #58
Checkout this package i made to work with angular projects:

https://www.npmjs.com/package/angular-flamelink

I'll share the source code on github soon.

[2019-04-19 08:59] #55 closed

[2019-04-19 09:08] ribalnasr commented on #58
I just noticed that u wrote `import flamelink` not `import * as flamelink`,
let me recap my answers:

`import flamelink from 'flamelink/app'` : Module '"/Users/.../node_modules/flamelink/public"' has no default export

`import * as flamelink from 'flamelink/app'`: ERROR TypeError: flamelink is not a function (in browser's console only when **flamelink({...settings})** is called)

`import * as flam

[2019-04-19 13:05] ribalnasr opened #59 "storage.upload() FirebaseError: Function DocumentReference.set() called with invalid data. Unsupported field value: a custom CollectionReference object (found in field folderId)"
hello!
new day, new issues 😄

using storage.upload(file, {}) with no custom options is resulting in the following error:

`FirebaseError: Function DocumentReference.set() called with invalid data. Unsupported field value: a custom CollectionReference object (found in field folderId)
`

which i believe is related to previously solved issue:  https://github.com/flamelink/flamelink-js-sdk/issues/55

[2019-04-23 06:31] jperasmus commented on #59
hi, thanks, I'll take a look at this one

[2019-04-23 08:22] jperasmus commented on #58
Can you please send me your `tsconfig.json` configuration?

[2019-04-23 08:30] jperasmus commented on #58
Currently, I can reproduce the TypeScript `flamelink` is not a function error when using `import flamelink from 'flamelink/app'`, but `import * as flamelink from 'flamelink/app'` seems to work fine.

[2019-04-23 08:40] jperasmus commented on #58
This is what I've found that works:

If you want to use `import flamelink from 'flamelink/app'` you can use one of these 3 options:
* `import flamelink = require('flamelink/app')`
* Specify the `--allowSyntheticDefaultImports` flag as a CLI or config option
* Specify the `--esModuleInterop` flag as a CLI or config option

Alternatively, `import * as flamelink from 'flamelink/app'` seems to work fi

[2019-04-23 09:50] ribalnasr commented on #58
None of the above options worked.
The following made it work in my case:
[code]

this is my tsconfig:

[code]

[2019-04-23 10:34] jperasmus commented on #58
I've checked out your `angular-flamelink` repo and when inspecting the type of `_flamelink` it shows it correctly as the `flamelink` factory function:

<img width="693" alt="angular-flamelink" src="https://user-images.githubusercontent.com/6787452/56574585-eb2af580-65c3-11e9-8d5a-952dd8b1ae73.png">

In your `compilerOptions`, I do not see either `allowSyntheticDefaultImports` or `esModuleInterop`.

[2019-04-23 11:42] ribalnasr commented on #58
I didn't push the tsconfig changes since they didn't work.

Yes, flamelink shows as function in visual code whether imported from 'flamelink' or 'flamelink/app' however when it's from 'flamelink/app' if you console.log(flamelink) you get an object that has a method called 'default' which is the function we need, that's why the above example `const flamelink = _flamelink['default'];` worked.

Anywa

[2019-04-23 11:50] jperasmus commented on #58
Okay, thank you, that will help a lot.

[2019-04-23 13:18] jperasmus commented on #59
What are you using as the `file` variable in your scenario?

[2019-04-23 16:07] ribalnasr commented on #59
Client-side for now.

I'm using a regular `<input type="file" />` which gives me a **FileList**. and for each **File** inside it i call the upload function: `flamelink.storage.upload(fileList.item(0), {})`

It seems that the file is being uploaded but the error occurs later when saving to the database.

[2019-04-24 13:38] jperasmus commented on #59
Thanks for the info. Can you try `v1.0.0-alpha.12` please to see if that solves this for you?

[2019-04-25 14:18] ribalnasr commented on #59
Like a charm,

However i wish it would return the DocumentRef from the **fl_files** collection,
for now i can get it like this:

[code]

_success.metadata.customMetadata.flamelinkFileId_ is the shortest way  i found to get the fileID.
And the success.ref object does not return a DocumentRef.

[2019-04-27 00:15] ribalnasr opened #61 "flamelink.users.addToDB - TypeError: api.ref(...).set is not a function"
Don't hate me!

[code]

returns this error: `TypeError: api.ref(...).set is not a function`.

(always using Cloud Firestore)

[2019-04-28 19:39] SamuelSaltzmann opened #62 "Difference to other Flamelink js SDK"
Hi there,
I wanted to ask, why there is a second repository for a flamelink js SDK?
https://github.com/flamelink/flamelink
https://github.com/flamelink/flamelink-js-sdk/

What is going to be the main difference?
I am confused and do not know which of those two will be the one that works in the future?

Why is there one in beta and one in alpha and the one in alpha seems to be the one that’s curren

[2019-04-29 06:53] jperasmus commented on #62
Hi there,

Apologies for the confusion, I will explain.

The repo you see at https://github.com/flamelink/flamelink is the current SDK that only supports the Firebase Realtime Database. It is an oversight on our end to still have the `beta` message on the README (I will remove that today). When installing from NPM (`npm i flamelink`), you get that repo's code.

This repo you commented on (`flameli

[2019-04-29 07:19] jperasmus commented on #59
I'll see what I can do here. The reason we expose the file and folder ID in the metadata is exactly for this reason, but it was easier to work with when it was just the Realtime DB. The response from this `upload` method is an `UploadTask` object that is similar to a Promise but has extra functionality so that you can determine upload progress, etc. I would not want to lose that.

What makes it a

[2019-04-29 07:21] jperasmus commented on #61
hahaha, not at all, I appreciate you picking up these things. I'll take a look

[2019-04-29 10:27] SamuelSaltzmann commented on #62
Hi there,

thank you very much for that clear answer. I just saw the migration guide and except from the change from "set" to "add"/"update" it should be a piece of cake to migrate the project later on.

Best regards!

[2019-04-29 10:27] #62 closed

[2019-05-06 12:49] charbelalkazzi commented on #61
any update concerning this issue? I'm experiencing the same problem

[2019-05-07 08:02] jperasmus commented on #61
Fix should now be available in `v1.0.0-alpha.13`

[2019-05-07 09:50] jperasmus commented on #59
`v1.0.0-alpha.14` now returns the database file object and not the upload task object anymore, since it was not working as intended in any case.

[2019-05-08 06:37] vkammerer opened #65 "Feature request: folders creation"
Hello Flamelink team,

I'm sorry if this is the wrong place for a feature request. If issues should be used only for bug reports, please point me to the right place for a request.

I would like to be able to create media folders via the API. Is this something already planned that will come later, or isn't it planned at all?

Thank you

[2019-05-09 13:19] jperasmus commented on #65
Hello @vkammerer

Thanks for your request. This is not something that is currently planned, but we're not against it. I can't currently give you an idea of how long it would take for us to implement this, but if you feel inspired, you can contribute a PR to add it. It would be a method that lives on the `storage` namespace, like `storage.addFolder({ folderName: 'The Name', parentId: '<id of parent

[2019-05-09 13:27] jperasmus opened #68 "CF populate media field is very slow"
It seems like populating URL's for Cloud Firestore content entries are very slow. Please investigate and resolve.

[2019-05-11 17:58] charbelalkazzi opened #71 "Order field not automatically created"
After adding the entries to the CMS, the items created do not have an 'order' field created unless their order is manually changed.
So currently, to be able to list the ordered entries on the website using: orderBy: 'order', I'm having to edit the order of the entries every time I add one.

Please check it,

Thanks

C.

[2019-05-13 09:05] jperasmus commented on #71
Thanks for logging this issue, @charbelalkazzi

We'll look into it.

[2019-05-13 13:21] jordanch commented on #71
Hi @charbelalkazzi,

What is your expected behaviour for content creation with regards to the `order` property? E.g. Do you expect every entry created to be created with an order property where the value is the number of entries belong to the schema minus one (since the order property value starts from 0)?

Do you expect the parentId property to also be set with an initial value of 0?

[2019-05-14 22:11] vkammerer commented on #65
Thank you for your reply @jperasmus.

Unfortunately I won't have the time to implement it myself. Is there any page that list the roadmap for this library and the features it intends to implement? I couldn't find it.

As a side note regarding the Flamelink product itself: I don't know where files management sits in the features prioritization, but I feel that the file explorer could be given a bit

[2019-05-15 08:01] jperasmus commented on #68
Issue has been resolved

[2019-05-15 08:01] #68 closed

[2019-05-17 13:44] jperasmus commented on #59
Another user really needed progress events to be triggered for the uploads, so this method now returns a `PromiseEmitters` instead of a plain `Promise`.

https://flamelink.github.io/flamelink-js-sdk/#/storage?id=progress-events

[2019-05-20 11:48] ribalnasr opened #74 "When changing settings.locale, content.get({entryId: 'fl_id'}) returns undefined;"
hello, i have a document in both 'en-US' and 'ar' locales.
after i switch to 'ar' by running `settings.setLocale('ar')`

when i run
[code]
it returns the correct array of docs in the specified language.

however when try to retrieve one doc by id when language is 'ar', as follows,
[code]

it returns undefined.
i tried it using both the firestore ID and the flamelink id (\_fl_meta_.fl_id).

[2019-05-20 13:02] jordanch commented on #71
The following implementation has been released:

New content entries get `order` and `parentId` properties set to 0. When a collection/form is "sorted" using the Structure Collection feature, each entry's `order` and `parentId` field will be updated appropriately.

[2019-05-20 13:02] jordanch commented on #71
@jperasmus happy to close?

[2019-05-20 13:50] jperasmus commented on #71
Thanks, Jordan.

[2019-05-20 13:50] #71 closed

[2019-05-20 14:15] jperasmus commented on #74
hi, you will have to specify the `schemaKey` as well when using `entryId`. Can you try that, please?

[2019-05-20 14:18] ribalnasr commented on #74
yep i did that, still no result. :(

[2019-05-20 14:31] jperasmus commented on #74
Are the `_fl_meta_.fl_id` values the same for your `ar` and `en-US` entries? They should be the same for the same entry in the Flamelink app, whereas the Firestore doc ID should be unique across locales.

[2019-05-20 14:32] ribalnasr commented on #74
true

[2019-05-20 14:33] ribalnasr commented on #74
reminder: am on firestore.

[2019-05-20 14:35] jperasmus commented on #74
Yeah, the `_fl_meta_.fl_id` was specifically introduced for Firestore. The RTDB structure leans itself to using the exact same ID for the node because the data is nested.

Can you paste your 2 entries' data here so that I can see how they are created? You can remove any confidential data if needed..mostly interested in the `_fl_meta_` object and `id`.

[2019-05-20 14:44] ribalnasr commented on #74
sure, here you go:

[code]

[2019-05-20 15:08] jperasmus commented on #74
Out of interest, is it only returning undefined after you set a new locale or does it return undefined always for your “ar” locale?

[2019-05-20 19:05] ribalnasr commented on #74
i set the locale to ar at the beginning with a button,
and the queries come after it on independent triggers in other pages.
switching back to en-us everything works again normally.

maybe it's worth mentioning that usually when the result is empty it returns null, but in this case here it's returning undefined.

[2019-05-21 07:53] jperasmus commented on #74
I could reproduce it when switching locale. Looking into it. Have a feeling Rollup is doing something strange with the context object. Had another similar issue previously.

[2019-05-21 08:18] jperasmus commented on #74
I found the issue - a fix will be available soon.

[2019-05-21 08:22] jperasmus commented on #65
The development for this SDK is mostly user-driven, meaning features are added as requested by users.

For the file explorer in the app itself: there is a complete overhaul planned, but I cannot give you an exact date for when that will be available. There are currently other features taking priority, so if I would have to give an educated guess, I would say it will most likely only be done toward

[2019-05-21 08:28] jperasmus commented on #74
Fix available in `v1.0.0-alpha.19`

[2019-05-21 09:54] ribalnasr commented on #74
yep.. working now!

i have another locales-related issue for you later today. after i make sure its not from my side :)

[2019-05-21 09:54] #74 closed

[2019-05-21 11:07] jperasmus commented on #74
haha, okay, I'll wait for that one then. :)

[2019-05-22 10:20] ribalnasr commented on #61
just tested it! works great.

[2019-05-22 10:20] #61 closed

[2019-05-22 10:45] ribalnasr opened #76 "updating document after changing locale, creates a new document not linked to the original document."
hi,

here's my issue for the day :)

i have a case where users can create announcements, and they can add translations to them.
so the process goes as follows:
[code]
this will add the announcement to her/his announcements list with these buttons for each one:
**Edit English** and **Edit Arabic**

when the user clicks on Edit Arabic, we change the locale: ```settings.setLocale('ar')``` and then ta

[2019-05-23 00:54] shaunnez opened #77 "fl_users on register"
When a user "registers" with the firebase project, should they not automatically be created in the fl_user schema? E.g. when createUserWithEmailAndPassword happens

[2019-05-23 04:35] shaunnez opened #78 "Filtering content on relationship data issue"
Hello

Assuming I have a collection that has a relationship with another field, I'd assume I can filter it as follows
`
const data = await flamelinkApp.content.get({
          schemaKey: "quote",
          populate: true,
          filters: [[
            "user", "==", "eVFw95jlMpNmsisGzKJWGHOSguf1"
          ]
        });
`
I've tried using
`
["user", "==", "eVFw95jlMpNmsisGzKJWGHOSguf1"]
["user.

[2019-05-23 07:17] jperasmus commented on #78
Hi,

Can you please give me an example of how your data is set up? The `filters` property will be applied server-side (in Firestore self), so it won't know about the `populate`d data yet - that only happens after the filtering.

[2019-05-23 07:27] jperasmus commented on #77
Currently, we opted to go with a client-side only connection to your Firebase project, which means we have no way of knowing when a new user is created unless it is something that happens within the app. In the near future, we'll allow project owners to additionally provide us with a service account so that we can perform more of these server-side only operations for some of the more advanced feat

[2019-05-23 07:41] jperasmus commented on #76
hi, this is a nice one :)

I can see your use case and it makes total sense to me. I'll have to give a bit more thought as to how we need to handle it in the SDK to resemble what happens in the app as close as possible.

The app works like this:
* You have one locale set as the default locale, which we use as the source of truth, meaning, there should always be a document for each entry made for t

[2019-05-23 20:31] shaunnez commented on #78
Quote collection:
Title (text)
User (select field relational - reference to firebase users)

Just trying to filter by collection based on the authenticated user. I. E. Load authenticated users quotes.

[2019-05-23 21:00] shaunnez commented on #77
Yup that's what I've done just wanted to see if it was something I was missing or coming in the future. Thanks! (heres my function)

`
import * as functions from 'firebase-functions';

export const onCreateUser = functions.auth.user().onCreate(async (user) => {
  try {
    const result = await flamelinkApp().users.addToDB({
      uid: user.uid,
      data: {
        displayName: user.email ? user.

[2019-05-23 21:00] #77 closed

[2019-05-24 00:52] shaunnez commented on #78
I've attempted setting up a rule but that doesn't work either
[code]

[2019-05-24 03:58] shaunnez opened #79 "flamelink sdk serverside issue - populate, fields"
Here is how I setup my flamelink

[code]

Requesting a collection
`
flamelinkApp.content.get({ schemaKey: "foo", populate: false })
`

I would expect this to just give me back the "foo" collection with each field. It should not give me each relational field fully expanded as though "populate" is true.

I'm also getting back the "_firestore" object with my firestore credentials in each reference ob

[2019-05-24 09:18] jperasmus commented on #77
Perfect 👍 Just out of interest, the `permissions` option is currently only used for users inside the Flamelink app.

[2019-05-24 10:53] jperasmus commented on #79
Hi @shaunnez

Just before I try and look at the rest of your query, I just want to make sure the initialization of the flamelink app instance is 100%.

I assume you posted a simplified code snippet because it does not look 100% correct to me. Do you mind posting the full code snippet for how you initialize the Firebase admin instance as well as the Flamelink app instance?

Also, what version of th

[2019-05-24 11:04] jperasmus commented on #78
Thanks for the example. When using the select-relational field to select a user, that user is stored in your Firestore document as a Document Reference. This means that you can't search/filter on it using a string, but you'll have to use a reference.

Your code would look something like this:

[code]

Please let me know if that works for you.

[2019-05-25 10:59] #65 closed

[2019-05-26 20:57] shaunnez commented on #78
Yup that works perfectly thanks!

[2019-05-26 20:57] #78 closed

[2019-05-26 20:57] shaunnez commented on #79
Versions
    "firebase-admin": "~7.0.0",
    "firebase-functions": "^2.2.0",
    "flamelink": "^1.0.0-alpha.19",

Initialization
[code]

[2019-05-26 21:05] shaunnez commented on #79
Heres an example of my firebase function / express route  and an endpoint you can run a get on

GET: https://spotme-232200.firebaseapp.com/api/v1/quote

[code]

[2019-05-27 07:35] jperasmus commented on #79
Thanks for all the info 👍

One thing I can see is where you import the Flamelink SDK, you correctly import the app (`flamelink/app`) module, but I do not see the other individual modules being imported. You will also need to import those after the app module:
[code]

The second part is about the references to populate: for the Real-time Database, we store only the reference ID's and then populate

[2019-05-28 09:53] JamesDevGit opened #80 "Nuxt | Generate timestamp errors warning for each entry made in flamelink schema."
I am testing a Nuxt flamelink setup, using cloud firestore and not rtdb. I am having a few issues getting results on page correctly.

flamelink@next

current pkg

"dependencies": {
    "@nuxtjs/axios": "^5.3.6",
    "@nuxtjs/dotenv": "^1.3.0",
    "@nuxtjs/pwa": "^2.6.0",
    "cross-env": "^5.2.0",
    "firebase": "^6.0.4",
    "firebase-admin": "^8.0.0",
    "flamelink": "^1.0.0-alpha.19",
    "l

[2019-05-28 10:11] JamesDevGit opened #81 "Nuxt | FirebaseError: Missing or insufficient permissions. - Page refresh fixes issue"
Firebase returns permission errors on first page load. Refreshing page resolve permission issues and display product array data.

plugins/flamelink.js

[code]

Products.vue
[code]

[2019-05-28 10:26] JamesDevGit opened #82 "Nuxt | vendor Bundle size 822 KiB"
Nuxt, adding flamelink, firebase,  firebase-admin results in large vendor bundle

[code]
yarn generate output

[code]

any advice on how best to amend my [flamelink js](https://github.com/flamelink/flamelink-js-sdk/issues/81) would be greatly appreciated

[2019-05-28 22:19] shaunnez commented on #79
No problem. So for typescript your [documentation](https://github.com/flamelink/flamelink-js-sdk/blob/master/README.md) says

import * as flamelink from 'flamelink/app'
import 'flamelink/settings'
import 'flamelink/content'
import 'flamelink/storage'
import 'flamelink/navigation'
import 'flamelink/users'

I still get the following output in the console in my firebase functions app

[code]

Anyway

[2019-05-30 21:30] shaunnez commented on #79
Bump

[2019-05-31 06:21] jperasmus opened #83 "notification test"
This is the issue's body

[2019-05-31 06:22] #83 closed

[2019-05-31 06:32] jperasmus commented on #81
The permission denied errors you are seeing would mean that when your code runs in the browser, the calls to your Firestore database expect your user to be authenticated.

You can resolve this in a number of different ways depending on your specific project's use case:

1. Change your database security rules so that they do not expect an authenticated user for any data you want to generally make a

[2019-05-31 06:35] jperasmus commented on #82
Can you please run [Nuxt.js's bundle analyzer](https://nuxtjs.org/api/configuration-build/#analyze) and post the results here so we can see what it contains?

[2019-05-31 06:46] jperasmus commented on #80
The warning for `WARN Cannot stringify arbitrary non-POJOs Timestamp 11:04:06` happens when you try and `console.log()` or `JSON.stringify()` a value that includes a [Firestore reference](https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReference) field. Nuxt tries to `JSON.stringify` the whole store object before sending it to your browser. The Firestore document reference

[2019-05-31 08:30] JamesDevGit commented on #82
Not sure how best to show the results of running that - it products an html page and json file. here is Screenshot of html file  ![dev](https://user-images.githubusercontent.com/33718453/58692387-caa64600-838e-11e9-8d75-ffe31ad1dcd9.jpg)

[2019-05-31 08:33] JamesDevGit commented on #81
Thanks jp - am testing these out to see which works best

[2019-05-31 08:40] jperasmus commented on #79
I'll have to take a look at the warning you're receiving about the imports, it seems odd. My first thought is that there might be somewhere else that the full `flamelink` SDK is being imported, but we can look at that last, nothing too serious.

For the credentials being logged. In our Firestore implementation, we use Firestore document references for relational data, for example, each user object

[2019-05-31 08:53] jperasmus commented on #82
Thanks, this is good. It shows that the biggest part of the bundle is the `@firebase/firestore/dist/index.cjs.js` package, followed by the `auth.esm.js` one. There are a few interesting things I'm seeing regarding the Flamelink SDK that we will try and improve on before this SDK graduates out of alpha and beta.

[2019-05-31 16:31] jondavidjohn commented on #82
I built a tool to help you analyze webpack bundles for size regressions, and report them directly to GitHub PRs. It's free for open source, so it might be worth checking out and helpful in this scenario.

[https://packtracker.io](https://packtracker.io/?utm_campaign=links&utm_source=github&utm_medium=issueprcomment)

![image](https://user-images.githubusercontent.com/401520/58719965-8ae35c80-8396-

[2019-06-03 11:13] jperasmus commented on #82
This is awesome, thanks for sharing @jondavidjohn

[2019-06-03 21:18] shaunnez commented on #79
Thanks for the information.

For now i'll write my own method to deep-pluck the fields out of the api response and populate fields accordingly. Hopefully if/when I get closer to production and performance optimization this will be something flamelink will support.

Cheers

[2019-06-03 21:18] #79 closed

[2019-06-10 08:52] jperasmus commented on #76
Hi @ribalnasr just letting you know, I haven't forgotten about this issue, I've been travelling and focusing on other features within the app, but I am going to try and make time this week to look at this one.

[2019-06-10 09:11] ribalnasr commented on #76
great to hear! this will be very useful.

(on another note, i'm planing on working soon on some functions for firestore rules to automatically implement the rules from the fl_permissions collection. unless your team already started working on something similar)

[2019-06-10 09:13] jperasmus commented on #76
That sounds great! I still have an outstanding task to write some documentation around how to do that for Firestore (have a similar article for the Realtime DB), but I haven't gotten to it. Would be great to see your work on this.

[2019-07-05 16:18] ngmiduc commented on #40
Does this also work with a specific EntryID ?

[code]

[2019-07-12 09:07] cyril-drouet opened #84 "Closest image size not returned"
Getting images based on size doesn't seem to work properly. If I try to get an image like this:
[code]
I get the following warning:
**[FLAMELINK] The provided path (70_70_100) has been ignored because it did not match any of the given file's available paths. Available paths: 375_9999_100, 667_9999_100, 900_9999_100, 1080_9999_100, 1440_9999_100, 1920_9999_100**

But the doc says it should give me

[2019-07-12 09:15] cyril-drouet opened #85 "storage.getFiles doesn't work"
When I try to do the following, I get an empty object instead of all the files in that folder:
[code]
I tried with 'Products', and 'Root/Products', but that gave me the same result.

I also get nothing doing this:
[code]
And the doc says the param is optional but I get a typescript error if I try just getFiles().

[2019-07-15 09:02] jperasmus commented on #40
This should work with an `entryId` as well.

[2019-07-16 13:15] ribalnasr opened #86 "Firestore And Storage Security Rules for Flamelink projects."
Hi,

I've been working on a set of rules for Flamelink that i'd love to share with you.
Forgive me if it's not the right place for it, and feel free to move it to where it belongs.

You will find snippets for both Firestore Rules and Storage Rules at the end, however in order for them to work, 3 more steps are necessary:

1 - **Create a Firebase function** to refresh the user token:

[code]

2- **

[2019-07-16 13:18] ribalnasr commented on #76
Hello!
Concerning the rules, please check this issue https://github.com/flamelink/flamelink-js-sdk/issues/86,

As for the initial topic of this thread, any update on this?

[2019-07-17 08:52] MLoth commented on #81
I faced the same problem. In my case I had to allow ```fl_content```, ```fl_files``` and ```fl_schemas``` public read access.

[2019-07-18 16:51] ngmiduc commented on #40
Hi, sorry again. Somehow I can not manage to populate the right size. Populating works but not with the size. I don't know if I have something wrong or not ... (I did not change anything in the flamelink settings for the sizes)

[code]

It returns the right Object of the given ID but the images urls are not sized accordingly to the given sizes.

I am using:
[code]

[2019-07-19 08:11] jperasmus commented on #40
Can you try with `quality: 100`?

[2019-07-19 08:14] #81 closed

[2019-07-19 12:16] MLoth opened #87 "Populate media with specific size"
The population of a specific media size doesn't seem to work in version ```1.0.0-alpha.19```. I have a repeater field that contains an image. This does populate the image (I get the url property), but not that specific size.
[code]
The documentation isn't very clear on the way this new size would be returned. Where would the smaller size be populated? In the ```url``` property or inside the sizes

[2019-07-20 21:08] ngmiduc commented on #40
Hi,
it still returns me the wrong image size.

[2019-07-22 12:15] galkowicz commented on #85
Having kind of the same the same issue.

fetching folders first:
[code]

then trying to get media ("3AQ0Ds6UwncLUJ8BpD6J" is the id I got from fetching the folders):
[code]

**getting empty object.**

using SDK version 1.0.0-alpha.19

[2019-07-28 09:20] ngmiduc commented on #87
I think that there is something not working properly. I also have some troubles to get the right size population.

[2019-07-28 09:21] ngmiduc commented on #87
#40

[2019-07-29 13:17] pieer opened #88 "Omitting import of "import flamelink/<module>" log the error [FLAMELINK] Oh no! Looks like you have not imported the module.""
In my project I don't use the navigation, the user or settings module.
But if I omit those packages, I have the error:
[FLAMELINK] Oh no! Looks like you have not imported the "nav" module.
[FLAMELINK] Oh no! Looks like you have not imported the "settings" module.
[FLAMELINK] Oh no! Looks like you have not imported the "users" module.

Is it possible to remove this error?

[2019-07-30 09:04] jperasmus commented on #87
Hi @ngmiduc and @MLoth, I'm looking into this issue now and will let you know as soon as I have more for you.

[2019-07-30 12:25] jperasmus commented on #88
Hi @pieer

Thanks for creating this issue. Can you please provide me with the code that you use to initialize the Flamelink app instance (with the imports).

[2019-07-30 12:49] jperasmus commented on #87
Can you please upgrade to `1.0.0-alpha.20` and try again?

[2019-07-30 12:51] jperasmus commented on #85
Thanks for reporting the issue, I will take a look.

[2019-07-30 14:03] jperasmus commented on #84
Hi @cyril-drouet

If you are using Cloud Firestore, version `1.0.0-alpha.20` should fix the populate functionality for images with a specific `size` option. I have not looked into the issue to find the first available size yet.

[2019-07-30 14:07] jperasmus commented on #86
Hi @ribalnasr

Thanks so much for doing this. I'm sure other users will also find this useful. I'll see where we can add this to our documentation.

[2019-07-31 11:17] jperasmus commented on #85
Can you upgrade to `v1.0.0-alpha.21` and try again?

[2019-07-31 11:28] jperasmus commented on #40
You were right the `quality` should be `1` and not `100`. Can you test again with `1.0.0-alpha.20`?

[2019-07-31 11:38] galkowicz commented on #85
After updating to `v1.0.0-alpha.21` the issue was fixed. Thank you.

[2019-07-31 12:57] ngmiduc commented on #40
HI,
thanks for the answer.
After updating to `1.0.0-alpha.21` it works now.

[2019-07-31 13:06] jperasmus commented on #40
Awesome, thanks for confirming.

[2019-07-31 13:06] #40 closed

[2019-07-31 15:47] galkowicz commented on #85
After getting the content. I'm not sure how to use it.
this is an image object:
[code]

How do I extract a url for my img tag?

[2019-08-05 08:46] MLoth commented on #87
Sweet! It works 👍🏼.

[2019-08-05 08:46] #87 closed

[2019-08-12 14:52] jperasmus commented on #76
Hi @ribalnasr

Apologies that it took me so long to give this attention. I've made some changes in `v1.0.0-alpha.22` that will handling adding and updating of content in the SDK to be similar to how it is handled in-app at the moment, namely:

- when adding an entry using a non-default locale, a placeholder entry for the default locale will automatically be created with the same `_fl_meta_.fl_id`.

[2019-08-13 09:37] jperasmus commented on #85
You can use the `storage.getURL()` method to get the URL for a given file: https://flamelink.github.io/flamelink-js-sdk/#/storage?id=geturl

[2019-08-13 09:49] jperasmus commented on #82
@jondavidjohn does packtracker only work with Webpack? We're using rollup for this project.

[2019-08-13 10:41] galkowicz commented on #85
When trying to use getUrl method I get the following error:
[code]

I'm sure I have imported the package otherwise I wouldn't be able to use the 'storage.getFiles' method.

Use getFiles to get the files id's and then for each id use 'storage.getUrl'? It's really not efficient. Would be much better if the response for getFiles would also include a url for the file.

[2019-08-13 10:46] jperasmus commented on #85
This is for the `storage` Firebase service and not for the Flamelink module. The Flamelink `app.storage.getFiles()` method gets the files from your database, and not from the storage bucket, so it is totally possible that the Firebase service is not yet imported.

How are you importing the Firebase services?

[2019-08-13 10:48] jperasmus commented on #85
What are you using the `storage.getFiles()` method for? What are you building on the frontend? Most use cases I've seen so far, people use the `app.content` methods and then `populate` the specific files they need from there.

[2019-08-13 11:04] galkowicz commented on #85
this is how I import:
[code]

Using with react on a frontend SPA. I want to retrieve all the images for a banner on my home page.

As a user of the API I don't know what you just mentioned (That getFiles getting files from database and from storage bucket).

[2019-08-13 11:10] jperasmus commented on #85
What is inside `./firebaseConfig`?

[2019-08-13 11:14] jperasmus commented on #85
For a homepage banner, I would recommend you create a single type schema within Flamelink for your home page with a media field for banner images.

Having it set up like that, you can then query the home page content with the images in one go with something like this:

[code]

[2019-08-13 11:22] galkowicz commented on #85
ok thanks.
I just tried this but again got the error:
[code]

What am I'm doing wrong?

[2019-08-13 11:23] jperasmus commented on #85
You are most likely not importing the `firebase/storage` service from within `./firebaseConfig`.

[2019-08-13 11:30] galkowicz commented on #85
Finally it works!!

**Sorry for all the question and thank you very much for your patience (-:**

[2019-08-13 11:32] jperasmus commented on #85
No problem, I'm glad it is working now. I would definitely recommend you use the `app.content.get()` or `app.content.subscribe()` approach versus using `app.storage.getFiles()` + `app.storage.getURL()`.

[2019-08-13 12:42] #85 closed

[2019-08-13 22:09] jondavidjohn commented on #82
Doh, yes, it only works for webpack based builds.

[2019-08-14 07:09] jperasmus commented on #82
Ah okay, thanks, I thought I might've missed something. Any plans for rollup support in the future?

[2019-08-14 12:33] jperasmus commented on #82
@JamesDevGit since `v1.0.0-alpha.23` all the Flamelink packages are now split out into the individual modules + individual databases. ie. separate files for the `content` module for cloud firestore versus the realtime db.

I've also updated the Nuxt.js basic example to use the new version of the SDK as an example of how you would only import what you need.

More info regarding the new file sizes a

[2019-08-14 17:01] jondavidjohn commented on #82
@jperasmus Not in the short term, need to see some demand build up to warrant it.

[2019-08-14 17:42] jperasmus commented on #82
Fair enough. I’m definitely going to give it a try on some of my Webpack
based projects.

On Wed, 14 Aug 2019 at 19:01, Jonathan D. Johnson <notifications@github.com>
wrote:

[2019-08-19 09:24] #82 closed

[2019-08-20 09:05] jperasmus commented on #58
Hi @ribalnasr and others following this issue.

We've made changes to the SDK exports to match up with the type definitions. The individual app module uses a single default export which is the `flamelink` factory function.

You should be able to import it with `import flamelink from 'flamelink/app'` instead of `import * as flamelink from 'flamelink/app'` now. With the default import, you need to l

[2019-08-21 09:48] ribalnasr commented on #58
hey, thanks for the update, i merged your changes into master. :) i should find time soon to restructure and update this library. hopefully we can keep collaborating on it.

[2019-08-21 09:48] #58 closed

[2019-08-26 18:23] ribalnasr commented on #76
This now works as expected.

[2019-08-26 18:23] #76 closed

[2019-08-26 18:25] ribalnasr commented on #59
Hi again!
this issue seems to be happening again with version flamelink@1.0.0-alpha.25

[2019-08-27 13:10] chadsfatherlali opened #98 "Flamelink expose the private key even if populate param is setted to true"
Hi guys I had this problem  a month ago, but it can solved with the populate param setted to true, but this time isn't work, this is the example how I callesd the colection:

"firebase": "^6.2.0",
"firebase-admin": "^8.0.0",
"flamelink": "^1.0.0-alpha.19",

` let island = await __content.getByField({
        schemaKey: 'island',
        field: 'slug',
        value: params.index,
        populate:

[2019-08-28 07:07] jperasmus commented on #98
Hi @chadsfatherlali, thanks for adding the issue here.

For others finding this, the issue happens when you use a universal solution like Nuxt, Next, Angular Universal, etc and have queries run on your server using the `firebase-admin` SDK which gets sent through to the client. The `firebase-admin` SDK assumes that it is used in a trusted environment, so the private key for your connection details

[2019-08-28 14:12] ribalnasr commented on #59
any updates? were you able to reproduce the issue?

[2019-08-29 13:01] #98 closed

[2019-08-29 13:02] chadsfatherlali commented on #98
It's was fixed with the `v1.0.0-alpha.25`

[2019-08-29 13:10] jperasmus commented on #98
Great stuff, thanks 👍

[2019-08-29 13:12] jperasmus commented on #59
Apologies, I haven't had time to look into this yet. I'm a bit busy with the changes required for EU billing regulations but will take a look as soon as I can.

[2019-09-04 07:20] Bickson opened #100 "get content question"
Hi, is it possible to get content based on attribute in referenced schema?
say I want all my products based on category and my product schema has reference to category schema.
Sorry if i explain poorly!

Thanks!

[2019-09-04 08:09] jperasmus commented on #100
I haven't checked now, but it depends on the order in which we populate the references and applying the filters.

You can try to write your query like this:

[code]

[2019-09-04 09:15] Bickson commented on #100
hmm... doesn't seem to work.
products have a field called category which is a reference to schema category that have a name.
can I get product dependent on category name?

[2019-09-04 13:25] ribalnasr commented on #59
hi again,
this is a very important issue as all our file uploads stopped working. i really wish you could take some time to fix it again.

[2019-09-06 09:29] charbelalkazzi commented on #59
any updates? its happening with me as well.

[2019-09-06 13:04] jperasmus commented on #59
Looking into this now. As a workaround, try setting a `folderId` in the upload options.

[2019-09-06 13:37] jperasmus commented on #59
Please check out `v1.0.0-alpha.26`

[2019-09-06 13:48] ribalnasr commented on #59
working :)

[2019-09-06 13:48] #59 closed

[2019-09-27 06:56] gitdubz commented on #100
Hi @Bickson I am not sure if you have managed to resolve the issue yet but you can try this

const result = await app.content.get({
	schemaKey: 'yourSchema',
	populate: true, // to expand the references
	filters: [
		['category', '==', 'someValue'] // assuming the field is called "category"
	]
})

[2019-09-30 11:19] marciliocarvalho opened #104 "Flamelink is slow to respond when "populate: true""
When "populate: true", image URLs take too long to return, delaying site display by 6 seconds.

Would there be a way to decrease this delay?

[2019-09-30 11:23] gitdubz commented on #104
Hi @marciliocarvalho,

What version of the SDK are you using?

Also could you kindly paste a code snippet of the query please?

[2019-09-30 11:24] marciliocarvalho commented on #104
`this.spinner.show()

    this.flamelink.content.get({
      schemaKey: 'sobre',
      populate: true
    }).then(result => {
      console.log(result)
      this.dados = result
    }).finally(() => {
      this.spinner.hide()
    })`

[2019-09-30 11:27] gitdubz commented on #104
Do you have any other relational fields for your `sobre` schema?

[2019-09-30 11:29] marciliocarvalho commented on #104
Within "sobre", the relational fields that exist are images

[2019-09-30 11:31] marciliocarvalho commented on #104
when I put "populate: false" the site loads very fast but without the images

[2019-09-30 11:32] gitdubz commented on #104
thanks, and what version are you using?

I know there were some performance issues on earlier versions.

[2019-09-30 11:33] marciliocarvalho commented on #104
1.0.0-alpha.26

[2019-09-30 11:34] marciliocarvalho commented on #104
"angular-flamelink": "0.0.7"

[2019-09-30 11:38] gitdubz commented on #104
and you flamelink version? if it is `flamelink@next` consider removing this and installing it again

[2019-09-30 11:39] marciliocarvalho commented on #104
but which version should i install?

[2019-09-30 11:39] gitdubz commented on #104
Oh sorry just saw your comment on the flamelink version

[2019-09-30 11:39] marciliocarvalho commented on #104
but which version should i install?

[2019-09-30 11:45] gitdubz commented on #104
the latest version is fine which seems is what you have.

you can try the following
`this.flamelink.content.get({
  schemaKey: 'sobre',
  populate: {
    field: 'images',
    size: {
        width: 1920,
        height: 999,
        quality: 1
    }
 }
}).then(result => {
  console.log(result)
  this.dados = result
}).finally(() => {
  this.spinner.hide()
})`

you can change the image height and w

[2019-09-30 11:54] marciliocarvalho commented on #104
ok, I uninstalled flamelink @ next and tried to install flamelink only, in its stable version. But the installation gave error.

[2019-09-30 12:12] gitdubz commented on #104
This version should work  "flamelink": "^1.0.0-alpha.26"

The stable version does not support cloud firestore and will be replaced with the new version soon.

If the integration with flamelink@next does not work, perhaps log an issue on the `angular-flamelink` repository. We do not own that repository but the developer who does is helpful and will most likely updated it fairly quickly.

[2019-09-30 12:32] marciliocarvalho commented on #104
OK thank you

However, I used Flamelink with Angular without using angular-flamelink, using JavaScript directly, and the delay problem continued.

So I imagine the problem is not in angular-flamelink, you know?

[2019-09-30 12:36] gitdubz commented on #104
I had a look at the angular-flamelink repo and it seems like it uses the latest flamelink-sdk under the hood, so would not be the issue (was more referring to the integration with specific versions of the flamelink-sdk)

Have you tried this

[code]

[2019-09-30 20:51] marciliocarvalho commented on #104
It worked! Thank you!

[2019-10-01 06:18] #104 closed

[2019-10-10 19:34] NVwingh84 opened #106 "Cross Browser Issues with IE and Safari"
I have an application in test mode hosted on Github, which is working on Chrome and Firefox, but not on Internet Explorer nor Safari. I am unsure about the root cause of the problem, though the errors appearing in the debugger are related to Flamelink.

You can find the project through following link:
https://github.com/NVwingh84/PortfolioWebsite

My keys are in there, but for now let's just assum

[2019-10-11 07:34] jperasmus commented on #106
Do you perhaps have your portfolio hosted somewhere so I can take a look at the link without needing to set it up myself?

Side note: your Firebase connection details are meant for client-side use, so it is fine if people can see it. You can set database rules to limit access based on a user's authentication, etc.

[2019-10-11 10:12] NVwingh84 commented on #106
Niels Vanwingh, Portfolio

|
|
|  |
Niels Vanwingh, Portfolio

Niels

Niels Vanwingh, Portfolio
 |

 |

 |

Verzonden via Yahoo Mail op Android

  Op vr, okt. 11, 2019 om 9:34 schreef JP Erasmus<notifications@github.com>:

Do you perhaps have your portfolio hosted somewhere so I can take a look at the link without needing to set it up myself?

Side note: your Firebase connection details are meant

[2019-10-25 07:32] jperasmus commented on #106
I see now, I actually just missed the link that you sent in the original message. Apologies for that 🤦‍♂️

I looked at your portfolio website on IE and I see the main error that is thrown is that IE doesn't understand `Symbols`.

Generally, it is expected for Flamelink to be used as a module and processed through a build step (Webpack, Rollup, etc), but it is not a requirement. In both cases, you

[2019-10-28 19:02] NVwingh84 commented on #106
Hey,

Thanks for your reply..

Great to have a root cause of the problem! Thanks for that!

For the moment, I am not using a build step.
Using one would require me to learn how to use Webpack, Rollup or another bundler application.
I am currently in the middle of two other projects and would just like my Portfolio Website to be available cross-browser. So I would prefer to use a CDN script.

I hav

[2019-10-31 13:42] Danelund commented on #86
If I implement these security rules I am unable to edit from flamelink CMS, as no permissions are set from there. How would I implement to have it work there as well?

[2019-10-31 14:26] Danelund commented on #86
Hey guys - building on @ribalnasr s great work I came up with a mod of the rules, that don't require any client side token refreshing, it checks only serverside for the user permissions (still guest with id = 0) is guest settings:

`service cloud.firestore {

  match /databases/{database}/documents {

    function guestPermissions() {
      return get(/databases/$(database)/documents/fl_permission

[2019-11-01 07:33] jperasmus commented on #86
Amazing work, guys. I've included this in one of the Flamelink articles for other developers to reference: https://intercom.help/flamelink/en/articles/3068550-flamelink-and-cloud-firestore

[2019-11-19 10:56] ribalnasr commented on #86
lovely update @Danelund , this is is exactly what i was trying to achieve without using custom claims but i couldn't at the time...

i remember your updated code was here in this thread before but its not now..
@jperasmus i made some updates after testing it in multiple scenarios and found some bugs, mainly typos.

please update the docs as the current ones do not allow creating new schemas or upd

[2019-11-19 21:27] gitdubz commented on #86
Thanks a million! I have updated the article with the latest code updates.

[2019-11-21 11:49] Danelund commented on #86
@ribalnasr - excellent idea!
@gitdubz I thoroughly second the idea of having a default guest account created by flamelink (i.e. with id 0), which would mean that these rules could be copied in by anyone and work straight away.

Next step in improving the rules would be to evaluate [env], as currently they only set permissions for the production environment.

[2019-11-23 02:35] erik-slack commented on #100
@gitdubz that was very helpful!  I don't see it in the documentation though.  Can it be updated?

https://flamelink.github.io/flamelink-js-sdk/#/content?id=subscribe

[2019-11-23 03:03] erik-slack opened #107 "Using subscribe with fields option returns nothing."
I'm doing this:
[code]
And every time data is coming back as empty array.  If I remove the **fields** it comes back as normal.  This doesn't happen when I use subscribe with a schema of type Single.  It only happens for Collection type schemas.  I expect that it should return the accounts that have email and access properties only when I do this.

Version: "flamelink": "^1.0.0-alpha.26",

[2019-11-23 03:05] erik-slack opened #108 "TS Import Issue"
The docs say to use
`import flamelink from 'flamelink';`

but because of the default rule

`"allowSyntheticDefaultImports": false`

I get this from my tslint:

![image](https://user-images.githubusercontent.com/8229820/69304977-c5101700-0bdf-11ea-9738-709dff4d0bb3.png)

So changing it to

`import * as flamelink from 'flamelink/app';`

was what I figured would fix it, but then I get this at runtime

[2019-11-23 04:50] erik-slack commented on #107
Populate also doesn't seem to work!

[code]
It just returns as normal without populating those fields

[2019-11-27 08:49] jperasmus commented on #108
Hi Erik, no, you are doing it right :)

Flamelink's export requires either synthetic default imports or the `esModuleInterop` flag to be enabled. This is because of the design decision we made to have the main export the Flamelink app factory function, ie. `flamelink({ ...config })`. I'm not sure at this stage if it is the best. We've considered changing it to be similar to how Firebase's SDK work

[2019-11-27 08:51] jperasmus commented on #107
Hi, thanks for reporting this. Can you please show me the data structure of the content being returned if you don't include the `filters` property?

[2019-11-28 02:09] erik-slack commented on #108
No it doesn't, it just throws a linter error.  I'll set it to allowed then.  Thanks, it helps knowing you've made it that way on purpose.

[2019-11-28 02:16] erik-slack commented on #107
It still returns empty object if I don't include filters.  Sorry I had to edit my first post because I had said filters when I actually meant--in bold--fields.  Filters works fine.  Fields doesn't.  Also the populate issue is of much higher priority to me than the fields issue.  I would love to get the image url back with the call, instead of having to make separate calls for every mediaId I'm get

[2019-11-28 06:54] jperasmus commented on #108
Do you perhaps have more info on what type of bugs that linting rule would catch? I'm not aware of any specific problems with using synthetic default imports.

[2019-11-28 07:52] jperasmus commented on #107
I'm struggling to reproduce this. I've set up a test for a collection using `fields`, `populate` and `filters` and different combinations of all of them, but so far they are working as expected.

What I did find is that nested `fields` inside a `populate` object option does not work, but that is different from what you're having here.

* Are you running this client- or server-side?

If you're runn

[2019-11-28 21:38] MLoth commented on #79
Any updates on this?

[2019-11-30 16:57] erik-slack commented on #107
This is all being done clientSide.  When I'm not logged in I get an error in my console.  The problem I'm experiencing is I just get back an empty results collection.

Here's a new example:
[code]
All it does is return the following.
![image](https://user-images.githubusercontent.com/8229820/69903454-a8e64580-1356-11ea-832f-776bc0bf6a0b.png)

When I remove the fields option and just do populate: t

[2019-11-30 17:06] erik-slack commented on #107
I'm not sure how to give you an export of the schema.  So here's a screenshot of how everything is set up and another for how the image which I am trying to populate is configured.

![image](https://user-images.githubusercontent.com/8229820/69903604-ecda4a00-1358-11ea-906a-941a24e03214.png)

![image](https://user-images.githubusercontent.com/8229820/69903610-f95ea280-1358-11ea-9d5c-d58acc504961.pn

[2019-12-03 10:24] ribalnasr commented on #86
hello people! :)
@gitdubz, small bug fix that should be updated in the docs,

under
match /fl_content/{document=**} {
      allow read: if isContentPermitted(resource.data._fl_meta_.schema, 'view') ;
      allow update: if isContentPermitted(request.resource.data._fl_meta_.schema, 'update');
      allow create: if isContentPermitted(request.resource.data._fl_meta_.schema, 'create');
      **allow

[2019-12-03 10:31] gitdubz commented on #86
Thank you so much for continuously updating this!
I will update the docs on our end to reflect the changes.

As for the guest user suggestion, I will table it, but I think because we are limited to the number of users on the payment plans this might be possible right now.

[2019-12-03 10:33] ribalnasr commented on #86
a guest and a sudo profile within the free plan.. just a thought :)

[2019-12-03 10:49] gitdubz commented on #86
It would not be too difficult to add a guest permission group with only read/view permissions.
It will then just keep in sync the same way Super Admin (permission id 1) does but only for those privileges.

[2019-12-04 06:42] jperasmus commented on #107
Thanks Erik, I'll take a deeper look. I was testing with Cloud Firestore, so I think the problem is probably specific to the RTDB.

[2019-12-08 16:48] erik-slack commented on #108
After reading up more about it I think you're good.  Sorry for the snipe hunt!

My source:
https://github.com/Microsoft/TypeScript/issues/10895

[2019-12-08 16:48] #108 closed

[2019-12-10 14:58] jperasmus commented on #107
Hi Erik, just letting you know I haven't forgotten about this. I have just been travelling and busy with other pressing issues, but I'll get back to you soon.

If this is urgent, you can take a look at the [`content-rtdb` package](https://github.com/flamelink/flamelink-js-sdk/blob/510eead2b5781b907f9edb133f19e483d16da144/packages/content-rtdb/src/index.ts#L130) in this repo if you can see what is

[2019-12-13 21:28] jperasmus commented on #107
Hi @erik-slack, I am on leave from today, but I wanted to get this one resolved for you before I can actually enjoy the leave. :) Can you please upgrade to `v1.0.0-alpha.27` and see if it works for you now?

Side note: the reason I thought at first you were using Cloud Firestore was because of the `filters` option. That is only for CF. The RTDB doesn't have as powerful querying capabilities, so th

[2020-01-05 16:59] erik-slack commented on #107
@jperasmus thanks for the update!  I've got populate working now which saves me a ton of code and stops my app from visibly painting with promises.  Thanks for letting me know about the filters only working with CF.  Sorry about my late response!

[2020-01-05 18:39] erik-slack commented on #107
Closing this as my concerns have been resolved with `v1.0.0-alpha.27`

[2020-01-05 18:39] #107 closed

[2020-01-06 06:40] jperasmus commented on #107
Thanks, Erik, I'm glad it is working now. 👍

[2020-01-08 12:19] jperasmus opened #111 "Incorrect URL created for firebase-admin"
When using one of the newer firebase-admin versions, sometimes the incorrect URL is generated when images are populated.

Can we fix?

[2020-01-08 14:01] ribalnasr commented on #58
@jperasmus @gitdubz please find on this link my latest update on the Flamelink module for Angular i've been working on the last couple of days.

It makes the installation process for angular much easier and provides services for each of the Content, User, Storage, Settings, Schemas, Navigation apis.

it also replaces the .subscribe() methods with .valueChanges() returning and observable.

there is

[2020-01-09 06:00] jperasmus commented on #58
Wow! This is great, Ribal! I'm sure other people will find it very useful as well. There was someone yesterday that asked about a better way to use Flamelink with Angular, so I'll point them to this new library.

[2020-01-23 23:01] alokjkumar opened #113 "Question: updating arrays from SDK"
I've had a look through the documentation and can't figure this one out - sorry if I'm being dim.

The model I'm going for is a pretty standard one to many, there's one post and each post can have many comments. The posts are submitted in the flamelink GUI and the comments are submitted by an angular app but the app admin needs to be able to view the comments from the flamelink GUI.

What's the be

[2020-01-28 10:55] jperasmus commented on #113
Hi there, thanks for the question.

The way I would tackle this is to create 2 collection schemas like you mentioned: `Comments` and `Posts`. Within the Posts schema, I would have a multi `Select (Relational)` field that links to the Comments schema. Each post can then be linked to multiple comments.

In your app, when you receive a comment you can add it to the Comments collection and store the a

[2020-01-28 11:01] simonstone97 opened #114 "Too many http requests"
Hello,

I am using the Flamelink SDK (Alpha-0.0.28) for Typescript.
The Problem is that single request via this SDK to the Firestore Api of Firebase, triggers multiple HTTP requests. In the following example the request is sent 1 time via the SDK but the browser sends the request at least 5 times. With other requests like e.g. on media (.png / .jpg) I counted 30 of the number of requests. The prob

[2020-01-29 21:40] alokjkumar commented on #113
This makes sense, I think I agree this is the best way to do it!

Thanks for your help

[2020-01-29 21:40] #113 closed

[2020-02-05 11:50] ribalnasr opened #115 "How to populate second-level relational field."
hi i have a collection of **projects**, each project has a relational field of multiple **partners** and each partner has a **logo** image.

the final result i expect is as follows:

[code]

i'm try the following query
[code]

but the above populate only the partner level and returns the logo as a document reference:

[code]

any suggestions?

**please note that using populate:true is out of quest

[2020-02-05 11:59] ribalnasr commented on #115
nevermind... i finally found that in your docs: https://flamelink.github.io/flamelink-js-sdk/#/api-overview?id=fields

**solution:**
[code]

[2020-02-05 11:59] #115 closed

[2020-02-11 10:41] jperasmus commented on #115
Thanks, sorry, I missed this issue when it came in. Glad you got it working.

[2020-02-19 04:23] singamnv opened #116 "How can I organize my schema specific for each logged-in user?"
I am using Firebase with React Native and just started with Flamelink as my CMS.

Before using Flamelink, I was able to obtain specific content from a logged-in user via firebase realtime database because the schema was:

**fruits**
mwaKRypUrNb8rJdsj9YUxw0sA892
-M055RlZ7HBzgRD9LS1d
-M055Why2psB2kqE4mYO
-M05W3LK8C1kgFsPNRqa
-M05W47cbhJ2VA_Y2nnT
-M05W5Wu9Pp6TZJJPc8t
-M05W6Xc_iP1upbyENpj
-M05W7JnVt3t

[2020-02-19 08:24] jperasmus commented on #116
Hi @singamnv

Thanks for the question. From my understanding, your Fruits collection can be linked to multiple users and the main problem is that the Firebase Realtime Database does not allow querying for a value inside an array. Cloud Firestore is a bit better in that regard.

What I would suggest you do to simplify your queries is to turn the relationship on its head. I would have the Fruits col

[2020-02-20 04:09] singamnv commented on #116
Awesome. Got it to work. Thank you for your advice.

[2020-02-20 07:08] jperasmus commented on #116
I'm glad to hear that. 🤓

[2020-02-20 07:08] #116 closed

[2020-02-21 22:30] Nsingh13 opened #117 "ReferenceError: Property 'entryId' doesn't exist"
I'm trying to update a user schema entry. I did 'getByField' first in order to retreive the id of the entry. However when I run .update(), it returns an error saying "ReferenceError: Property 'entryId' doesn't exist"

`flameLinkApp.content.getByField({
        schemaKey: 'users',
        field: 'user.firstName',
        value: 'Test'
      }).then((data) => {
        console.log(data);
        let

[2020-02-21 22:32] Nsingh13 commented on #117
Sorry, I tried to format the code so it's easier to read but I'm having issues. I'm fairly new to Github.

[2020-02-21 22:33] Nsingh13 commented on #117
flameLinkApp.content.getByField({
        schemaKey: 'users',
        field: 'user.firstName',
        value: 'Test'
      }).then((data) => {
        console.log(data);
        let thisUserId = '';
        for(let id in data) {
          thisUserId = id;
          console.log(thisUserId);
        }
        flameLinkApp.content.update({
          schemaKey: 'users',
          entryId: thisUserId,

[2020-02-21 23:40] Nsingh13 commented on #117
Fixed. Needed to replace 'entryId' in .then with thisUserId.

[2020-02-21 23:40] #117 closed

[2020-02-22 02:58] Nsingh13 opened #118 "Update method overwrites entry"
I'm using .update() in order to update a schema entry. It works but it overwrites the entire entry, removing whatever is in the other fields.

[code]

[2020-02-22 02:59] Nsingh13 commented on #118
Sorry, I don't know how to format the code properly. I'm fairly new to Github.

 flameLinkApp.content.getByField({
        schemaKey: 'users',
        field: 'user.firstName',
        value: 'Test'
      }).then((data) => {
        console.log(data);
        let thisUserId = '';
        for(let id in data) {
          thisUserId = id;
          console.log(thisUserId);
        }
        flameLinkA

[2020-03-02 10:46] rubenheymans commented on #40
I'm on alpha.28 and the resizing is not working for me, only the first one works, all others return the original image size

[2020-03-02 19:39] rubenheymans opened #119 "Feature request: Get multiple image sizes for populated fields"
I have a schema 'realizations' with field 'images'. For every image I want a small and a large image to use in a lightbox.
I managed to do this with a workaround:

` this.realisations = await this.flamelinkService
      .getApp()
      .content.get({
        schemaKey: 'realizations',
        fields: ['date', 'category', 'images'],
        populate: [
          'category',
          {

[2020-03-02 19:46] rubenheymans opened #120 "Bug: Image resizing not working"
I use the default image resizing: 375_9999_100, 667_9999_100, 900_9999_100, 1080_9999_100, 1440_9999_100, 1920_9999_100

When i want to populate images

[code]

or get an image with the storage api

[code]

I only get the 375 9999 1 image resize, all other paths just return the original image size.

[2020-03-10 15:42] gitdubz commented on #118
Thanks for rasing this @Nsingh13 we will look into it as soon as possible and let you know.

[2020-03-10 15:47] gitdubz commented on #114
Hi @simonstone97 thanks for raising this, we will take a look at it as soon as possible and let you know when we find the cause for this.

[2020-03-10 15:54] gitdubz commented on #106
Hi @NVwingh84 when updating to the latest version of the firebase SDK, do you still have the issue?

Adding the script for the polyfill before all other scripts should resolve the issue. The Firebase JS SDK's now have better support for browsers and the polyfills should solve any of the Flamelink SDK dependencies.

You can read more about it here
https://firebase.google.com/support/guides/environm

[2020-03-10 15:58] gitdubz commented on #106
Additionally please add the script to your head section
[code]

should be

[code]

Note where I have placed the polyfill

[2020-03-11 05:58] Nsingh13 commented on #118
Ok, thanks. Please let me know. For now, I just appended the old data along with the update as a temporary fix.

[2020-03-13 08:57] NiklasMencke opened #121 "Logical 'OR' not possible when doing 'get' operation with filters"
Hey,

when using the javascript sdk and fetching content with filter options I want to do a logical OR instead of AND when combining filter operations

so in this example I would want to retrieve entries where state is either NY OR CA.
This should also be possible when querying different attributes at the same time, e.g

Currently it looks like only AND is possible?

[2020-03-16 08:16] jperasmus commented on #111
This has been fixed.

[2020-03-16 08:16] #111 closed

[2020-04-08 08:44] jperasmus commented on #121
Hi, apologies for the delay in response.

You can use Firestore's `in` operator to do this. Under the hood, the `filters` are passed to Firestore as `where` clauses.

[code]

Hope that helps.

[2020-04-08 09:17] #121 closed

[2020-04-08 14:09] jperasmus commented on #118
Hi @Nsingh13 are you using Cloud Firestore or the Realtime Database?

Something in your code that looks a bit odd to me is the part where you iterate over each property in the returned `data` object and override your `thisUserId` variable with it. ie. `thisUserId` will have the value of whatever the last property was that the `for` loop iterated over and not necessarily the actual `id` property. I

[2020-04-08 21:28] Nsingh13 commented on #118
Hello @jperasmus! I am using Cloud Firestore.

I am looping through each property in order to obtain the entry id of the correct user so that I can use that to call the update function. I don't believe there is any other way of getting the entry id, is there? Maybe if you can provide me an example of how you would call the update function, that might be helpful!

Also, thanks for the formatting li

[2020-04-09 11:23] jperasmus commented on #118
I think what you are looking for is the `id` property on the `data` response, so you should be able to access it with `data.id`. This code of yours loop through each property in the data array and override the `thisUserId` with each iteration:

[code]

If your `data` object looks like this for instance: `{ a: 1, b: 2, c: 3 }`, then you'll see `a`, `b`, `c` logged and `thisUserId` will be equal to

[2020-04-21 03:52] singamnv opened #126 "Issue with obtaining schema from promise"
Hi,

When I was using just firestore, the firebase.js config file looked like this:

firebase.initializeApp(config);
const db = firebase.firestore()
export const firebaseAuth = firebase.auth()
export const dbMenuRef = db.collection('general')

However, when I use Flamelink, I get a TypeError: undefined is not a promise with the following code in the firebase.js:

const firebaseApp = firebase.initi

[2020-04-21 08:01] gitdubz commented on #126
Hi @singamnv,
Where is `firestoreAction` defined? I can see that you are using it but it is not defined anywhere.

[2020-04-21 08:34] gitdubz commented on #126
To better help you, it seems like you are using VuexFire?
(I am following the example here - https://vuefire.vuejs.org/api/vuexfire.html#firestoreaction)

Additionally
`export const dbMenuRef = db.collection('general')` - I am assuming the dbMenuRef you are creating here is to a custom collection you already have in Firestore.

[code]

[code]

[2020-04-21 13:18] wollowizard opened #127 "populate: true fails for media when using the firebase client sdk"
I create the flamelink app from a non admin firebase instance. If a request a content which contains a reference to a media file, with populate:true, it fails saying that I need the firebase admin sdk. I think that the flamelink should recognize that the firebase client sdk is used, and avoid to populate media fields. Or as an alternative, additionally to populate:true the content.get should accep

[2020-04-21 13:26] jperasmus commented on #127
Hi there, thanks for opening the issue. What is the reason that you are using the Firebase client SDK server-side instead of the admin SDK? It is generally recommended by the Firebase team to only use the admin SDK server-side. Especially with newer versions of the Firebase SDK's I've personally run into issues trying to use the client SDK in a server environment.

[2020-04-21 13:30] wollowizard commented on #127
Hi, for my project I am indeed using the admin sdk. This is just an issue I observed when I tried to migrate to the client sdk. The reason was that I am ultimately returning content to the client (I built a middleware in which I implement some logic) and I was surprised to see that I need to manually strip away stuff like private key and sensitive metadata. I am afraid of not cleaning up some sens

[2020-04-21 13:39] singamnv commented on #126
Thank you for your reply. I feel like I am still missing something. I am trying to bind using app.vue created() method. Still getting a TypeError. Below are the firebase.js, general.js (store), and app.vue files. Thank you for your assistance. I am just learning my way around web development.

Firebase.js file
[code]
general.js (part of firebases tore)
[code]
App.vue
[code]

[2020-04-21 13:44] jperasmus commented on #127
The sensitive data you are referring to is what Firebase stores inside the Document References, which is only available when used with the `firebase-admin` SDK on a trusted (server) environment. If you are passing the data back to a non-trusted environment like the browser, you can either exclude the document reference `fields` or you can `populate` them into their document entries, which doesn't

[2020-04-21 13:54] wollowizard commented on #127
Ok, again I am not reporting this as an issue but as an improvement to a potentially misleading situation of someone requesting content and getting an exception because of their chosen client sdk. If the media population will ALWAYS fail with a client sdk, probably this situation could be handled explicitly.

[2020-04-21 14:13] singamnv commented on #126
Also when I try console.log this is what i get:

console.log(app.content.get({ schemaKey: "general" })); above     context.bindFirestoreRef('general', app.content.get({ schemaKey: 'general' }));

I get this:
Promise {<pending>}
__proto__: Promise
[[PromiseStatus]]: "resolved"
[[PromiseValue]]: Object

And the error I am getting is:
Uncaught (in promise) TypeError: document.onSnapshot is not a func

[2020-04-23 08:40] gitdubz commented on #126
Hi @singamnv I think the issue is that VuexFire requires a ref for binding and the `app.content.get` actually makes the get call.

You can change `app.content.get` to `app.content.ref`  see below.

/* actions/store.js */
import { firestoreAction } from 'vuexfire'
import { dbMenuRef } from "../../firebase";

// Creating a ref to the fl_settings.general document
const actions = {
 setGeneralRef: fir

[2020-04-24 03:02] singamnv commented on #126
I appreciate your response. I transitioned out of Flamelink for this particular project. I like the CMS though and I will try again for a future project. Thanks

[2020-04-24 07:48] gitdubz commented on #126
All the best! Hope to see you soon 👍

[2020-04-24 07:48] #126 closed

[2020-04-30 17:41] wollowizard opened #128 "populate true fails in relational inside repeater"
I create a single schema, inside I put a field group, inside that a repeater and inside a relational select.
populate:true does not populate the select. Is this a known limitation?

[2020-05-06 08:19] jperasmus commented on #128
This is definitely a known issue we picked up in the app itself and has been fixed. It will be released within the next ~week or 2. It has actually been fixed in December already but placed in an upcoming test environment.

[2020-05-17 00:29] benmort commented on #88
@jperasmus did this ever get solved? having this same issue now

[2020-05-18 10:49] jperasmus commented on #88
Hi @benmort I assumed it was a non-issue. Can you please give me more details regarding your setup so that I can see where the problem might be happening?

[2020-05-22 09:15] jperasmus commented on #128
Hi @wollowizard this should be fixed in the app now. You will have to resave the entries with nested relational fields so that the correct document references can be written to Firestore.

[2020-05-26 07:56] wollowizard commented on #128
That is indeed fixed! thanks a lot

[2020-05-26 07:57] #128 closed

[2020-05-26 08:46] jperasmus commented on #128
Excellent! Thanks for confirming

[2020-06-01 08:54] #127 closed

[2020-06-07 14:31] Hjkun77 opened #150 "Can't render images"
Here's my stackoverflow question. Hope you can help me generate images that i uploaded through flamelink and is now referenced at firestore and stored in firebase

https://stackoverflow.com/questions/62246059/i-cant-load-images-from-flamelink-that-is-integrated-with-firebase-and-vue

Thanks again

[2020-06-27 13:53] rileynetadmin commented on #86
What is the best way to secure content to the user who created the content?

[2020-06-30 18:21] csabaxyz opened #130 "Populating single relational fields doesn't seem to work."
Hey,
Yesterday I commented on this issue with the problem: https://github.com/flamelink/flamelink/issues/90
But I just realized that that repo is for the older version of the plugin.

Anyway, the problem seems to be that I have a relational field that is set to single (`multiple:false`), and I'm trying to populate only certain fields with this code:
[code]
And this is the result that I get with th

[2020-06-30 18:32] csabaxyz commented on #130
As a quick fix, something like this can be used:
[code]

[2020-07-01 06:46] dewetvdm commented on #130
Hi @csabaxyz

Thanks for the detailed explanation, we will have a look at it soonest and report progress here 👍

[2020-07-02 09:34] jperasmus commented on #118
Hi @Nsingh13 Do you still need help with this issue?

[2020-07-03 21:08] csabaxyz commented on #130
Hey @dewetvdm,
Can confirm, `1.0.0-alpha.31` fixes the issue for us.

[2020-07-20 13:34] ribalnasr opened #135 "Storage Api breaks with Server-Side Rendering (Angular Universal)."
When using the SDK with Angular Universal, the SSR version (which is rendered server-side) gives the following error:

Which is usually understandable but not applicable in this particular case.

This error only shows if I'm using the storage service or when populating fields of type Media.

For a while now I've been using isPlatformBrowser() before populating media fields since I didn't need the

[2020-07-21 07:50] jjost-byte opened #149 "filtering by id not working"
Hi,
I am currently using version 1.0.0-alpha.31 of the sdk and have trouble getting data from a schema.
I would like to use something like this:

app.content.get({
        schemaKey: "schemaName",
        populate: true,
        fields: ["id", "title", "subTitle"],
        filters: [["id", "in", arrayOfIds]]
      })

but only get 'null'.
using

db
        .collection("fl_content")
        .where(

[2020-07-22 12:54] ribalnasr opened #136 "Not working server-side with Firebase admin & functions"
I've been trying to get flamelink to work in a firebase function with no success. the result has no error but returns undefined, here's my code:

[code]

Help please.. been stuck on this for days.

[2020-07-22 13:06] dewetvdm commented on #136
Hi @ribalnasr

Does this work if you run it server-side as opposed to a cloud function?

I will have a look at it and see if I can reproduce it within a cloud function.

[2020-07-22 13:16] ribalnasr commented on #136
i haven't tried that. i usually only work server-side within a firebase
project. i will try to reproduce it with node as soon as i can. meanwhile
awaiting your reply

On Wed, Jul 22, 2020 at 4:07 PM De Wet van der Merwe <
notifications@github.com> wrote:

[2020-07-22 14:40] ribalnasr commented on #136
i just tried outside firebase and it's working! any updates from your side?

[2020-07-22 15:24] Neilpoulin commented on #136
I use Flamelink in Firebase Cloud Functions and don't have any issues. I noticed that in my setup, I'm importing Flamelink like this, vs what you shared

[code]

You also may need to get your admin app using the `admin.app()` function, rather than the return of `admin.initializeApp` - at least that's how my code has been running for months. See below.

[code]

[2020-07-23 08:45] dewetvdm commented on #136
Thanks @Neilpoulin I think that is exactly the issue.

Might be good to add an example on the docs for this.
@ribalnasr to summarize

[code]

[2020-07-23 09:25] ribalnasr commented on #136
Unfortunately this still doesn't work.

here are my packages versions:

    "firebase-admin": "^8.10.0",
    "firebase-functions": "^3.6.1",
    "flamelink": "^1.0.0-alpha.31",

and firebase-tools is version 8.6.0

what are yours?

[2020-07-23 21:04] gitdubz commented on #136
Thanks, we will add a section to the docs for this 👍

[2020-07-23 21:04] #136 closed

[2020-07-23 21:19] gitdubz commented on #106
Closing issue due to inactivity

[2020-07-23 21:19] #106 closed

[2020-07-23 21:32] gitdubz commented on #80
Closing this issue due to inactivity

Note on circular objects

You can use this nifty package for circular structures
https://github.com/WebReflection/flatted

[code]

[2020-07-23 21:32] #80 closed

[2020-07-23 21:33] #130 closed

[2020-07-23 21:35] gitdubz commented on #135
@ribalnasr is this resolved by adding the cert as mentioned here?
https://github.com/flamelink/flamelink-js-sdk/issues/136

[2020-07-24 09:03] ribalnasr commented on #135
hi, no, this is not really related, the other issue is when using flamelink on server-side, but in this case here, flamelink is used on client-side using the firebase sdk (not firebase-admin), however since we're using angular universal, we compile the site to be served as a firebase function instead of uploading it to firebase hosting, and we redirect the hosting to the function. as you probably

[2020-08-11 15:58] ribalnasr commented on #135
since there is no activity on this issue here's the workaround i did:

i created a firebase function that expects the image id and returns the image as follows:

**important**: you need to initialize the firebase app using the service account certificate and not the default admin.initializeApp() for this to work

[code]

then i add the required meta tags using the function link. ex:
[code]

[2020-08-11 16:05] ribalnasr commented on #120
i'm having a similar issue.
in my case i have the same sizes as above but the quality is 90 instead of 100.
i'm uploading a 1798x900 image, however all the above sizes are returning an 800x400 image although the url shows that the image is in the correct folder.
(ex: https://.....appspot.com/o/flamelink%2Fmedia%2F**sized**%2F**667_9999_90**%2F...)

[2020-08-12 09:45] ribalnasr commented on #120
@jperasmus this is a very important issue. image resizing is one of the main reasons why i'm using flamelink, any update on this?

[2020-08-12 11:14] caweidmann commented on #120
Hi @ribalnasr

We'll try and prioritise this in one of our upcoming sprints.

[2020-08-12 11:15] caweidmann commented on #120
Is this an urgent issue for you?

[2020-08-12 11:18] ribalnasr commented on #120
it is, am surprised not many people brought it up.. image resizing is a huge deal when it comes to websites.. i am currently obliged to use the original images uploaded which is significantly slowing down load time and clients are not happy with that.

[2020-08-13 09:17] dewetvdm commented on #120
@ribalnasr I found a work-around
You can do the following until the new version is released

Can you please test and let me know if it works?

[code]

To use the settings module you will need to import it

[code]

[2020-08-14 08:37] dewetvdm commented on #88
Closing this issue due to inactivity

For future reference, please see the guide for setup
https://flamelink.github.io/flamelink-js-sdk/#/getting-started?id=creating-your-flamelink-app-instance

It's important to note that if have relational data relating to navigation or users these modules should also be imported.
Also if you are uploading images the settings module might be required.

[2020-08-14 08:37] #88 closed

[2020-09-09 16:33] ribalnasr opened #139 "Meta values "lastModifiedBy" and "createdBy" are always "UNKNOWN""
hello :)

i noticed that when creating a document or updating it using the sdk, the **lastModifiedBy** and **createdBy** under **\_fl_meta\_** are always "UNKNOWN" even when a user is authenticated.
it is important to have the correct values here for logging and security reasons.

(Using Cloud Firestore)

[2020-09-10 07:00] gitdubz commented on #139
Hi @ribalnasr

I will look into it for you, which versions of firebase SDK and firebase Admin SDK are you using?
Aslo is the code executed server side or client side when adding a record?

[2020-09-10 23:52] vkammerer commented on #120
I am also facing issues with image resizing, and have been able to debug it a bit more so I'm posting my findings here in the hope it may help the team debug and fix it.

If I set the following resizing settings:
<img width="689" alt="Screen Shot 2020-09-11 at 11 39 37 AM" src="https://user-images.githubusercontent.com/1177483/92825804-0fd77580-f424-11ea-8533-c469a756c7d0.png">

and then upload th

[2020-09-11 09:23] gitdubz commented on #139
Hi @ribalnasr I found the issue and will release an update soonest 👍

[2020-09-16 09:15] gitdubz commented on #120
Thanks,

This issue should be resolved within the next release, which should be this week.

[2020-09-16 14:19] #139 closed

[2020-09-16 15:23] #120 closed

[2020-09-17 08:39] gitdubz commented on #139
Hi @ribalnasr an updated version of the SDK has been released.

You can update the flamelink package to `1.0.0-alpha.32`, please let me know if this resolves your issue.

[2020-09-17 08:42] gitdubz commented on #120
Updated version of the SDK has been released, you can update the flamelink package to `1.0.0-alpha.32`
This should resolve the image size creation issue.

[2020-09-18 06:20] vkammerer commented on #120
@gitdubz I just used the Flamelink UI and tried again to upload the image, but I am still getting the same bug as described in details above.
Is it because your fix hasn't been deployed yet to the Flamelink UI?

[2020-09-18 09:44] gitdubz commented on #120
Hi @vkammerer I will investigate the issue on the Flamelink UI and let you know here.
The Flamelink UI is unrelated to the SDK. I have opened a separate issue for the UI issue.

You can keep an eye out on the release updates for this within the app too.

[2020-09-18 14:42] gitdubz commented on #118
Hi @Nsingh13

Not sure if this is still something that you are struggling with.
I can confirm that for nested fields the updates are not on an individual level when passing an object, and you should rather pass the path to the field

example
[code]

In order to update the values without overwriting the current values you can do it in the following 2 ways

## Not recommended
[code]

Note this part

[2020-09-18 14:43] gitdubz commented on #118
Documentation required

[2020-09-18 14:43] #118 closed

[2020-09-18 14:56] gitdubz commented on #118
Examples have been added here
https://flamelink.github.io/flamelink-js-sdk/#/content?id=update

[2020-09-21 12:38] #100 closed

[2020-09-21 12:42] gitdubz commented on #100
@erik-slack @Bickson

Documentation for using filters have been added for both relational and non relational values.
Please see (sections including `filters`)
- https://flamelink.github.io/flamelink-js-sdk/#/content?id=get
- https://flamelink.github.io/flamelink-js-sdk/#/content?id=subscribe

and

[2020-09-21 14:20] gitdubz commented on #114
Hi @simonstone97 could you kindly share some more information or perhaps provide an example.
If you have listeners/subscriptions set up or potentially have a render function that is called each time the data/state is changed it might cause the multiple requests that you are seeing.

I am unable to replicate the issue and would like to get some more insight into your entire environment.
Could you k

[2020-09-30 20:40] ribalnasr opened #145 "Explicitly providing locale with content.add() doesn't have any effect."
hello,

here's my case:
sometimes you want the global locale for the sdk to be 'en-US' but you may need to add (or update) a document in a different locale without having to switch between locals before and after.

the add() method does take a local property but it doesn't do the trick, the new document is still created under the global locale.

[2020-09-30 20:48] dewetvdm commented on #145
Hi @ribalnasr 👋

I will have a look at this asap.

[2020-10-01 10:19] #145 closed

[2020-10-01 11:14] gitdubz commented on #145
@ribalnasr you can update to flamelink@1.0.0-alpha.33

Please let me know if the issue is not resolved.

[code]

[2020-10-07 10:49] zinhart opened #147 "Flamelink 1.0.0-alpha.33: "Cannot read property 'delete' of undefined" when calling update"
## Hello Flamelink Dev Team

As the title suggests,
I'm currently using the new sdk which supports the cloud firestore. I was using the sdk in a firebase cloud function in a test app when I ran into something strange.  Calling app.content.update(...) fails with a "Cannot read property 'delete' of undefined."

After some digging I found that in */directories-relevant-to-my-machine/my-project-root/*

[2020-10-08 07:47] gitdubz commented on #147
Hi @zinhart

Which version of the Firebase admin SDK are you using within your cloud function?
I see there is an issue related to this which I will have a look at
https://stackoverflow.com/questions/58186235/fieldvalue-is-undefined

There should not be a problem on the client side if you are using the latest version of the Firebase Client SDK when using 1.0.0-alpha.33

We added it a convenience, s

[2020-10-08 15:34] zinhart commented on #147
I'm using firebase-admin version 9.2.0.

[2020-10-08 16:29] zinhart commented on #147
It would be useful if they were split in the future.
Let's say you have an route like: **/api/setProductDescription/:product_id**
and because your are using firebase emulators you make a post request to the following url:
**http://localhost:5001/firebase-project-id/us-central1/api/setProductDescription/21?description=donuts**
and that there is no product with id 21.
The admin sdk update:
[code]
re

[2020-10-13 04:03] gitdubz commented on #120
@vkammerer I have investigated the issue for you, and can confirm the resizing is working as expected.
The expected behavior for resizing is to optimize for physical file size over dimensions in order to optimize for load times.

Due to the limitation for compression when resizing in the browser, at times resizing results in a less optimal physical size than the original image. (Normally the case

[2020-10-13 07:01] #147 closed

[2020-10-13 07:14] gitdubz commented on #147
Hi @zinhart, a new version has been published, you can upgrade to 1.0.0-alpha.34 which should fix the issue for you.
Let me know if this fixes the issue for you 👍

[2020-10-16 22:48] zinhart commented on #147
Hello, @gitdubz

**1.0.0-alpha.34** has fixed this issue for me.

Thank you

[2020-11-11 12:56] #150 closed

[2021-01-11 09:29] gitdubz commented on #114
Closing issue, unable to replicate

[2021-01-15 12:18] Twansparant opened #154 "Content .remove() not removing any content"
Hi there,

I use Flamelink in combination with Firebase **authentication** to view/create/update/delete documents in a `appUsers `schema. I also added **custom firestore security rules** like described here #86.

I add content to the schema with the `entryId` set to the user's authentication **uid**.
This is all working great, well for the view/create part at least, somehow the delete part does no

[2021-01-15 14:23] Twansparant commented on #154
I think this is caused by the fact that the `fl_id` & `schema` variables are not present in the `resource.data` object in the `view` security rule, which apparently is used in the Flamelink `remove` lookup query.

[code]
If I set both to true, the remove does work:
[code]
For now I use the Firebase delete query:
[code]
Which works!

[2021-01-19 15:36] Twansparant opened #155 "Add content as relational data"
Hi there,

I can't seem to find this in any documentation;
How do you set field data as document reference?

I have a schema with a `Select Relational` field. When I select a document in the select field in the CMS itself, I can see it's saved as a reference field in **Cloud Firestore** with as document path: `fl_content/id`.

But how can I achieve the same using the JS SDK?
[code]

I tried settin

[2021-01-30 20:40] drewwiskus opened #156 "You have a typo in your docs"
![image](https://user-images.githubusercontent.com/52176739/106367554-1306cb80-6309-11eb-9052-4a7b130f64dd.png)

`filters: ['category', '==' 'Some Category']`

should be `filters: ['category', '==', 'Some Category']`

missing comma :)

[2021-01-30 20:41] drewwiskus commented on #156
https://flamelink.github.io/flamelink-js-sdk/#/content?id=subscribe

^ in there

[2021-02-25 00:15] #156 closed

[2021-02-25 00:27] gitdubz commented on #149
@jjost-byte are you still having trouble with this?

[2021-02-26 18:51] cspecter commented on #155
HI @Twansparant . This took me forever to figure out, but if you are using Cloud Firestore you need to fetch a Firebase DocumentReference for any interaction with a relational field. For creating , fetching data or updating entries. If would need to look something like this:

[code]

Hope this helps. You need to do the same thing if you want to filter by a relational field. You need to convert the

[2021-02-27 11:08] Twansparant commented on #155
Yes, I figured that out too!
Thanks though!

[2021-03-08 15:56] #155 closed

[2021-03-08 16:25] gitdubz commented on #149
Closing this due to inactivity and unable to replicate.

Using
[code]

returns with an entry found.

[2021-03-08 16:25] #149 closed

[2021-03-12 03:00] mizzao opened #159 "How do I use this with Observables / RxJS?"
Hi there, we're a paying Flamelink user. Is there any way to use this SDK with Observables / RxJS?

Your old SDK seemed to support it, but only for Realtime DB: https://github.com/flamelink/flamelink/blob/master/docs/content.md#subscribe

We're using Firestore now, and it seems like there is no Observable support anymore, at least from the docs I found. Is that true?
https://flamelink.github.io/fl

[2021-03-12 07:54] coenraadf commented on #159
Good day Andrew.

The SDK does not natively support observables, but what I do in Angular is something along these lines:

`query(): Observable<Partial<Blog>[]> {
    return from(
      this.flamelink.flApp.content.get({
        schemaKey: 'posts',
        populate: [
          { field: 'author', fields: ['name', 'surname'] },
          {
            field: 'cardImage',
            fields: ['url']

[2021-03-13 10:35] RonDaha opened #160 "app.content.get do not response"
Hey, I wanted to start using your SDK (from the browser) but cannot seems to get it to work.

I initialized flamelink app just like you showed in your docs,
when I try to - `app.content.get({schemaKey: "someKey"})`
it's just waiting forever, no error or any responses getting back.
Also the network tab is clean seems that no HTTP request has been made at all.
Any help here please

I am using the sa

[2021-03-16 11:13] gitdubz commented on #160
Hi @RonDaha

Could you kindly share some code to look at?

How you are initializing the flamelink SDK and also the code you are using to retrieve the data?

[2021-03-16 11:15] gitdubz commented on #159
Hi @mizzao, does the answer from @coenraadf above help to resolve your query?

[2021-03-16 11:49] gitdubz commented on #154
Hi @Twansparant

Do you get the entry when you try the following
[code]

[2021-03-16 22:56] amirhemm opened #161 "Populate not working"
I'm using the 1.0.0-alpha.34 and when I add relational data through add() method I have to manually save the record manually on Flamelink panel before I can use populate to get the data. When I use the add() method I just save the ID. Is this the write way of doing it? Or I would have to get a reference and save the reference?

[2021-03-17 08:33] gitdubz commented on #161
Hi @amirhemm

Can you please share the code for adding the item?

[2021-03-17 15:00] amirhemm commented on #161
Hi @gitdubz,

Here is the bit of code that I am using to add the item:
`await flamelinkApp.content.add({
          schemaKey: 'orders',
              data: {
            email: session.customer.email,
            customer: customerId,
            dateCreated: convertISODatetoLocalTime(new Date()),
            shippingAddress,
            paymentIntent: session.payment_intent,
            paymentSt

[2021-03-17 15:38] Twansparant commented on #154
Yes I do!

[2021-03-18 18:40] gitdubz commented on #161
Hi @amirhemm

There is no method currently to generate a reference for Cloud Firestore.

For the benefit of others, to generate a reference

With the use of Cloud Firestore
[code]

With the use of Realtime DB
(please note that a reference should not be passed for RTDB when adding content only the entryId)
[code]

[2021-03-18 23:05] YariKoen commented on #86
Hi, I am trying to login to my Flamelink, after I updated Firestore rules for my app. I added your roles and in test (Rules Playground), everything is OK / passed. But when I try to login to Flamelink Dashboard, access is denied. Honestly, I don't understand why - I removed the global rule for "deny all", bcs in default (without a match) is all denied. It seems that in these rules is something mis

[2021-03-19 07:34] gitdubz commented on #154
And just to check, does the authenticated user have permission to delete entries based on their permissions in set in Flamelink?

Could you also please share your rule function for isContentPermitted.

[2021-03-19 20:15] #161 closed

[2021-03-19 20:20] amirhemm commented on #161
@gitdubz Thanks for the great explanations. Just to expand on that the same is possible with the admin SDK incase if anyone is trying to make a ref serverside.

[2021-03-21 13:15] RonDaha commented on #160
Hey @gitdubz
This is the code snippet I am using

[code]

[2021-03-21 13:34] #160 closed

[2021-03-24 12:09] gitdubz commented on #159
Closing this due to inactivity

[2021-03-24 12:09] #159 closed

[2021-03-24 22:11] ribalnasr commented on #86
hey @YariKoen,

in the firebase console, inside firestorm, find your user under fl_users, does it have permissions = fl_permissions/1 ?

[2021-03-24 23:06] YariKoen commented on #86
@ribalnasr yea, there are two doc's in `fl_users` - first have field `permissions` = reference on `fl_permissions/1`, second have string `1`. Not sure why there are two under with the same email.

[2021-03-25 01:30] ribalnasr commented on #86
the problem seems to be there, change the one with a string value to a reference on 'fl_permissions/1', and check the user uid under authentication then compare it to the ids in the fl_users collection. delete the duplicated user with the wrong id.

[2021-03-27 14:18] YariKoen commented on #86
@ribalnasr It works, thanks! 🎉

[2021-03-30 12:00] ovk-hbomax commented on #78
@jperasmus I tried this with `"^1.0.0-alpha.34"` version. Can you please confirm if this has changed by any means? It is not yet working for me.

[2021-04-20 15:28] leeprobert opened #164 "Content Update method should do a `deep update`"
Am updating records on my `Flamelink` CMS but I am using `Field groups` and need to update the content within them. The API method `update` is supposed to only update the fields that are new in the data object you provide, but this rule only applies at the root level, and my field group fields are overwritten by adding objects with partial data.

[2021-04-30 12:56] leeprobert opened #165 "Send a Timestamp with the Content API to populate a Date field"
I have a Date field in my content and am using the API to create Documents. I need to send a Timestamp through the Flamelink SDK/API and into Firebase. The Timestamp looks just great in Firestore but when Flamelink tries to parse it as a Date it crashes the field. How do I get Flamelink to see the Timestamp as a Date? Is it just a String?

[2021-05-02 07:16] leeprobert commented on #165
I've raised a Stack ticket for this too: https://stackoverflow.com/questions/67353882/flamelink-send-timestamp-with-the-content-api

Alternatively, it would be great to add the content metadata fields to the overview table, so we can sort on fields like creationDate. We are using the Flamelink CMS as a moderation tool for the data in Firestore, so sorting on the date of creation is critical.

[2021-05-05 07:59] gitdubz commented on #86
Hi @ribalnasr,

We have a user who has implemented the rules and mentioned that they are unable to log in, so I tried to replicate the issue and found that the emulator does give an error.

the user permissions is a reference
[code]

The function that is giving an error 👇
[code]

![Screenshot 2021-05-05 at 09 45 10](https://user-images.githubusercontent.com/48430891/117111082-631d8000-ad87-11eb-91

[2021-05-10 15:31] thelazyindian commented on #119
I would also like to know if its possible to implement this feature. It'd be great.

[2021-05-10 15:33] thelazyindian commented on #119
@gitdubz Can you please let us know if you're adding this in near future ?

[2021-05-13 08:14] ribalnasr commented on #86
hi @gitdubz, sorry for the late reply..
not really, been using these rules for a while now without updating them and haven't experienced any issue.

the error here seems to be that the result of the first get() (the inner one) does not return a valid document on the permissions field, hence the parent get() function is unable to work.

are we sure the user.permissions reference refers to an existi

[2021-05-13 10:48] McCaul95 commented on #107
Hi Erik Did you get a working version of this i tried your repo on github but cant seem to get the data to return anything other than undefined

[2021-05-13 10:57] samtstern opened #169 "Add an actual LICENSE file"
The README says that this is MIT licensed but there is no LICENSE file that I can see and the GitHub API does not recognize the licensing:
https://api.github.com/repos/flamelink/flamelink-js-sdk (see `license: null`)

This project will be listed on https://devlibrary.withgoogle.com/ but the page won't be visible until we can detect a license.

[2021-05-14 09:12] jasonbacon commented on #169
Hey Sam,
Thanks for checking out the submission. Just letting you know we've seen your query and will action asap and let you know.
Have a great day.

[2021-05-16 20:06] leeprobert opened #170 "SigningError when using Admin SDK and getUrl"
I have a cloud function running to get a files URL and store it to my Document but when the function runs I get a `SigningError` like so:
`Failed to get URL: SigningError: The caller does not have permission Error`
I am using `Firebase Admin` with `Flamelink/storage`

[2021-05-17 06:19] gitdubz commented on #170
Hi @leeprobert

This seems related to the permissions enabled for the service account used to instantiate the admin sdk.

Can you kindly check that the service account/admin account you are using has the appropriate permissions needed for signing urls?

More info on this issue
https://github.com/googleapis/nodejs-storage/issues/1222

more specifically this
https://github.com/googleapis/nodejs-stor

[2021-05-17 06:21] gitdubz commented on #86
Thanks @ribalnasr,

The document in question is a reference, I even created on manually to make sure.
Thanks for the reply, I have reached out to the Firebase team for more assistance.

[2021-05-17 16:33] ribalnasr commented on #86
i might be able to assist you further if it's possible to have access to the firebase project. let me know if i can help.

[2021-05-18 07:43] gitdubz commented on #169
Thanks @samtstern
I have added a LICENSE file and it is picked up 👍

[2021-05-18 07:43] #169 closed

[2021-05-22 09:10] maztak commented on #85
Hi, same issue. I am using Next.js, so to getting data by `.get({ fielded: 'aaa', populate: true })` we have to install firebase-admin like below. So I wanted to access storage by `getURL()` at the client-side.
https://intercom.help/flamelink/en/articles/3022657-using-flamelink-with-nuxt-js

Now this SDK renewed, so I gave up X(

[2021-05-29 06:31] leeprobert commented on #170
Yes, I had to go into Google Cloud and add the permissions 👍

[2021-05-29 06:31] #170 closed

[2021-06-15 02:42] maztak opened #171 "Method to get document only publish status"
By flamelink JavaScript SDK, we can't get documents that only published.
I discussed with flamelink support team, and I try this code but I got null.

[code]

so I use this code

[code]

### Note
To use the undefined filter, we have to set `ignoreUndefinedProperties` to true.

[code]

[2021-06-15 03:43] FabianSellmann opened #172 "Firebase-js-sdk v9 modular support"
Is there any plan to support firebase-js-sdk v9's modular system?

The current [service approach](https://github.com/flamelink/flamelink-js-sdk/blob/master/packages/app/src/index.ts#L88) used in the flamelink sdk wouldn't be working with the [new modular approach](https://firebase.google.com/docs/web/modular-upgrade).

Would be great if flamelink could be used on top of the modular firebase sdk in

[2021-06-15 09:11] gitdubz commented on #171
Hi @maztak

You are not able to query on values that do not exist unfortunately for Firestore.
If the value does not exist it is not indexed and can not be queried.

More here
https://stackoverflow.com/questions/59483600/how-to-form-firestore-query-matching-with-undefined-elements

You can use the bulk update feature to set the relevant status on your entries within Flamelink.
<img width="949" alt

[2021-06-15 09:18] gitdubz commented on #172
Hi @FabianSellmann

We will need to dig into this a little and see if we can support it, it might hover not be possible, since the imports will be dependent in the users queries (example, if a user uses a filter (where query) we would need to dynamically import that, which might be tricky and _possibly_ slow down initial queries - have not investigated this yet) alternatively it would be up to the

[2021-06-15 09:41] gitdubz commented on #84
Hey @cyril-drouet

If you are unsure of the image size you want to retrieve, omit adding the height property

This will return the closest image size in the populated url value.
If you specify the height value, it will try to match an exact value, I will update the docs for this.

[code]

[2021-06-15 09:41] #84 closed

[2021-06-15 09:53] maztak commented on #171
Yeah. Thanks reply.
So anyway we have to bulk update each time when we added contents,right?

I think if flamelink add `stasu` field as `publish`, we can get data with filter property smooth.

I’m glad to you to consider.
Best.

iPhoneから送信

[2021-06-15 10:12] gitdubz commented on #171
If you are adding the content via the CMS you can simply choose the status when adding it.

<img width="746" alt="image" src="https://user-images.githubusercontent.com/48430891/122035602-ebedf980-cdd2-11eb-9b1f-bbb237b9b04d.png">

[2021-06-15 10:12] #171 closed

[2021-06-15 10:22] gitdubz commented on #119
Hi @nrgnrg @thelazyindian

I will investigate what changes need to be made. From an ease of use perspective this makes sense. In the event that we do make the changes for this functionality it would make sense to handle an array of sizes to populate the value.

In addition to this, an update to the schema builder will be done later this year to choose between storing file/image data as a reference

[2021-06-15 16:51] thelazyindian commented on #119
Good to know!

[2021-06-16 11:26] FabianSellmann commented on #172
Yeah I guess the api would be needed to change radically to support this. Users would need to import any part of the query operation they want to have executed, to allow bundlers to include only include the necessary dependencies at build time.

[2021-07-21 18:38] petermenocal opened #175 "Populate not returning image"
Populate is not working as expected on 1.0.0-alpha.34
I have a simple image field in my schema. when I set `populate: true` or `populate: ["image"]` on either `app.content.get() `or `app.content.getByField()` I return no results. If I remove `populate: true` and all variations, the proper result is returned.

[2021-07-21 18:45] petermenocal commented on #175
I finally got an error. It seems the sdk thinks firebase-admin is client-side still even though it is not:

[code]

relevant code from file:

`var express = require("express");
var router = express.Router();
var firebaseApp = require("firebase-admin");
var flamelink = require("flamelink");

var serviceAccount = require("../firebase-adminsdk.json");

firebaseApp.initializeApp({
  credential: fireba

[2021-07-22 22:02] petermenocal opened #176 "Web UI crashes when large collection updated via API"
When using the JS SDK to update a large number of collection items, the web UI at [app.flamelink.io](https://app.flamelink.io) will completely crash and freeze. Experience has been repeatable in both Safari and Firefox on MacOS.

I've attached a video of the behavior. In this clip, you'll see the interface responsive, the API request sent, and finally the interface frozen.

Steps to reproduce:

*

[2021-07-22 22:04] gitdubz commented on #175
Hi @petermenocal, which version of the Firebase admin SDK are you using?

[2021-07-22 22:04] petermenocal commented on #175
1.0.0-alpha.34

[2021-07-22 22:22] petermenocal commented on #176
I'm using the real-time database which I don't believe has batched updates like Firestore.

[2021-07-22 22:30] gitdubz commented on #175
Thanks that looks like the Flamelink SDK version, but would like to see if it is related to the Firebase SDK version (not the Flamelink SDK)

[2021-07-22 22:33] gitdubz commented on #175
Could you potentially try the following for me please

replace
[code]

with
[code]

[2021-07-22 22:57] gitdubz commented on #176
Ah okay. So on our end, how we handle large collection updates for RTDB is to only update the app state (referring to react & redux) when the last item in the list of updates is done. This way the UI does not do 800 re-renders, it only does 1.

This is however not controllable via the SDK/API since the app will respond to each update as if it is not a bulk operation.

The only way this can potenti

[2021-09-03 13:59] dankerk opened #180 "Very persistent error [FLAMELINK] The "firestore" Firebase service could not be instantiated."
Hi there,

I'm starting to get quite desperate to get the flamelink SDK to work.
Can you see what's causing this error?

[FLAMELINK] The "firestore" Firebase service could not be instantiated. Please ensure you have imported the package for this service.
TypeError: context.firebaseApp[serviceName] is not a function

At this point I'm quite sure firestore is already instantiated. Any help would be

[2021-09-03 14:01] dewetvdm commented on #180
Hi,

Which version of the Firebase SDK are you using?

Flamelink does not v9 of the Firebase SDK (modular importing)

[2021-09-03 14:03] dankerk commented on #180
Aaaah nooo haha! Then that must be it... I'm using V9

This is my setup at the moment:

"dependencies": {
    "@material-ui/core": "^4.12.3",
    "firebase": "^9.0.1",
    "firebase-admin": "^9.11.1",
    "flamelink": "^1.0.0-alpha.34",
    "install": "^0.13.0",
    "next": "11.1.0",
    "npm": "^7.21.1",
    "react": "17.0.2",
    "react-dom": "17.0.2",
    "styled-components": "^5.3.1"
  },
  "d

[2021-09-03 14:07] dewetvdm commented on #180
Can you install Firebase SDK v8

npm i --save firebase@8.10.0

and then follow this guide?

https://flamelink.github.io/flamelink-js-sdk/#/getting-started?id=creating-your-flamelink-app-instance

[2021-09-03 14:20] dankerk commented on #180
That made all the difference! Thanks a lot.

[2021-10-11 14:50] ptreitler opened #183 "Can't set Workflow Status (Draft / Review / Publish) via API"
I want to add data to Flamelink in the "Draft" status in my app, but I haven't found a way to do so using the API.
I can read the status on my data just fine via `_fl_meta_.status`, but there doesn't seem to be a way to set this attribute in `flamelinkApp.content.add`.

I have tried passing it as part of the data:
[code]
...but this seems to get ignored as it doesn't show up in the CMS or the Clou

[2021-10-30 09:15] dankerk opened #184 "Images returned as DocumentReference"
Hi there,

I'm trying to get and display images uploaded through Flamelink, but they are returned to me as an array of DocumentReferences.

How can I get their urls?

[code]

[2021-11-01 19:09] dewetvdm commented on #184
Hi @dankerk

The correct documentation is here: https://flamelink.github.io/flamelink-js-sdk/#/content

The link posted in your original question was for the old SDK

as for the document reference, you can use the populate function to populate images and relational data
https://flamelink.github.io/flamelink-js-sdk/#/content?id=get-examples

[2021-11-01 19:10] dewetvdm commented on #184
examples
[code]

[2021-11-03 11:28] dankerk commented on #184
Thanks @dewetvdm !

That leads me to another interesting "issue"/topic..

[code]

So I switched to the admin sdk, but then it throws:

[code]

Did you encounter that before?

I did manage to log out the object for the headerImage, but when I try to use it throws:
`SerializableError: Error serializing `.page.headerImage` returned from `getStaticProps` in "/page/[slug]".`

It seems I would need to g

[2021-11-03 14:10] dewetvdm commented on #184
@dankerk are you running this code server side (example static site generator (gatsby, scully) or nextjs with static/serverside queries etc)?

If so then you will need to make that you initialize the SDK with the correct package
serverside will require the firebase-admin-sdk and client side the normal web SDK which you seem to be using at the moment)

and easy wat too check is
[code]

[2021-11-04 10:28] dankerk commented on #184
My bad. The issue was a mistake on my end.

I had this in my code:

[code]

But getInitialProps (especially when appended to the homepage class) runs on the client side so I had to replace it with:

[code]

[2021-11-07 11:53] dankerk commented on #184
Thanks for the support @dewetvdm

For anyone reading this who is running into parsing issues from nextjs like this one:
`Error serializing ... cannot be serialized as JSON. Please only return JSON serializable data types.`

Wrapping this around the response fixes it:

`JSON.parse(JSON.stringify(responseData));`

[2021-11-07 11:53] #184 closed

[2021-11-07 11:53] #180 closed

[2021-11-22 03:27] moschan opened #185 "dyld[15631]: missing symbol called"
When I run the app using Intel chip mac, it works, however when I run the app by Apple M1, it cause error when I open http://localhost:3000.

It seems when I use `content.get` with `populate: [ "SOME_IMAGE_FIELD" ]` causes error.
Without  `populate: [ "SOME_IMAGE_FIELD" ]` , it works well

## versions
[code]

## Error message when I open localhost
[code]

[2021-11-22 07:57] dewetvdm commented on #185
Hi @moschan

Can you please ensure firebase < v9 is installed?
"firebase": "^8.6.8" could install v9

[2021-11-22 12:35] moschan commented on #185
Yes, I'm using v8

Do you have a prefer version of firebase-admin?

[2021-11-23 23:53] moschan commented on #185
Once I delete `fast-crc32c` from dependencies it resolved.

[2021-11-23 23:53] #185 closed

[2021-12-07 19:58] gitdubz commented on #183
Hi @ptreitler

A new version of the sdk has been released (1.0.0-rc.1)

You can update or install the latest (npm install flamelink@next)

https://flamelink.github.io/flamelink-js-sdk/#/content?id=add

you will notice the new `status` parameter that can be passed

[code]

[2021-12-07 20:14] gitdubz commented on #165
Hi @leeprobert

We have added a Timestamp field a while ago for Firestore to the schema builder.
You can have a look when editing a schema.

<img width="1486" alt="image" src="https://user-images.githubusercontent.com/48430891/145098795-8da6de52-a1b2-4439-80ca-a990ff3118a1.png">

<hr />

Sorting on Create and Update date is also available when toggling the options in the overview

<img width="1915

[2021-12-07 20:14] #165 closed

[2021-12-07 20:16] gitdubz commented on #154
Closing due to inactivity. Unable to reproduce behavior.

[2021-12-07 20:16] #154 closed

[2021-12-08 07:51] #183 closed

[2021-12-10 17:37] stepanic commented on #172
@gitdubz do you have any updates (six months later) related to supporting Firebase v9, our Angular application are now frozen to the Angular `12.x`, Firebase `8.x` and `@angular/fire` `6.x`

We want to update Angular to v13, Firebase to v9 and @angular/fire to v7.2, but because we depends on `flamelink` and `ng-flamelink` this is not possible right now?

In how many months `flamelink` will depend

[2021-12-16 22:22] gitdubz commented on #172
Hi @stepani,

The Flamelink SDK should work when using compat mode for v9
https://firebase.google.com/docs/web/modular-upgrade#update_imports_to_v9_compat

If any changes would be required on ng-flamelink, you can perhaps request it on the repo (this is a community managed package)

As for modular support, like I mentioned above this would probably require a v2 of the SDK since the logic to handle

[2022-01-10 12:48] wahaj-47 opened #191 "How do I update an array of references?"
[code]

The field registeredPlayers is a tree so I get an array of references but because I am populating it, I get the document data. Now I want to update this array and push another reference into it. But I don't have the references so if I try:

[code]

Then I end up with an array containing a document object and a document reference.

[2022-01-11 07:45] gitdubz commented on #191
Hi @wahaj-47

Assuming registeredPlayers is relational to Flamelink User (fl_users)

[code]

note firebaseApp is not the flamelink app instance but the raw firebaseApp you instantiated

Does this help?

[2022-01-11 08:19] wahaj-47 commented on #191
Yeah I came up with the same thing. I was just wondering if maybe we could do it without having to map over the array.
Thanks.

[2022-01-12 12:25] #191 closed

[2022-02-17 16:19] ptreitler opened #193 "Error when calling content.update()"
I'm getting an error when using content.update() :
[code]

I'm using the Firebase admin SDK and the Flamelink SDK (v1.0.0-rc.1) with the following modules:
[code]

[2022-02-17 16:51] ptreitler commented on #193
Workaround: Downgrading to `firebase-admin@9.12.0` seems to fix this problem.

[2022-03-03 12:06] gitdubz commented on #172
In order to use v9 you can import the packages as follow

// Firebase app is always required and must be first
import firebase from 'firebase/compat/app'
// Add additional services that you want to use
import 'firebase/compat/auth'
import 'firebase/compat/database'
import 'firebase/compat/storage'
// import 'firebase/compat/firestore'
// import 'firebase/compat/messaging'
// import 'firebase/compa

[2022-03-07 13:01] echong112 opened #196 "cannot edit entry after adding via JS SDK"
When running a node.js migration script for about 400 entries. migration went fine, but i cannot seem to edit any of the entries on the CMS. The createdBy us 'UNKNOWN', and is the only difference I am seeing so far. Thank you!

`app.content.add({
  schemaKey: 'blogPosts',
  data: { title: 'new-title' }
})`

[2022-03-07 13:33] echong112 commented on #196
One additional note: I am seeing the schemaRef being different for the SDK created vs. the CMS created.

_fl_meta : {
schemaRef: fl_schemas/videos
}
vs.

_fl_meta : {
schemaRef: fl_schemas/p5T6tjZbgQgc3J9BmiRf
}

[2022-03-07 13:33] ptreitler commented on #196
Same here. When editing an entry that I recently added via the JS SDK in the Flamelink App I get:

The browser console shows
`[Violation] 'setTimeout' handler took 407ms`

I _can_ still edit entries that I created with the JS SDK a while ago, so this is probably related to a recent update of either the JS SDK or Flamelink CMS itself.

[2022-03-07 13:36] gitdubz commented on #196
is the "schemaRef: fl_schemas/videos" when using the SDK or when creating an entry via the CMS?

[2022-03-07 13:39] echong112 commented on #196
SDK created: fl_schemas/videos
CMS created: fl_schemas/p5T6tjZbgQgc3J9BmiRf

[2022-03-07 13:42] gitdubz commented on #196
Thanks, I will have a look at the SDK, the CMS created value is correct.

You can perhaps test on your end, if you change the ref to fl_schemas/p5T6tjZbgQgc3J9BmiRf for an entry created via the SDK in the DB, and then check if it works in the CMS?

[2022-03-07 13:44] gitdubz commented on #196
Just to confirm, the Flamelink SDK is initialized using the firebase-admin SDK and not the firebase client SDK and is running in a node environment and not a browser.

[2022-03-07 13:46] echong112 commented on #196
yes to both. node.js v14.17.6

    "firebase": "^9.6.8",
    "firebase-admin": "^10.0.2",
    "flamelink": "^1.0.0-rc.1",

[2022-03-07 13:48] echong112 commented on #196
this did not work. i updated the 'createBy' as well to see if that would help, but both did not work.

[2022-03-07 13:54] ptreitler commented on #196
In my case the content is created in an Android app via `react-native-firebase@14.5.0`.

Interestingly, downgrading the JS SDK to the previously used version (1.0.0-alpha.34) doesn't change anything either.
So probably a change in the CMS that somehow broke things?

[2022-03-07 14:37] ptreitler commented on #196
Possibly related: I also noticed that setting the content status (Draft / Review / Publish) stopped working: https://github.com/flamelink/flamelink-js-sdk/issues/183

When I add content with `status: "draft"` (or with the old workaround via `.update()`) it shows up as "Publish" in the CMS.

[2022-03-07 16:39] gitdubz commented on #196
@ptreitler @echong112

This might be a side-effect of latest versions of the Firebase SDK's.

For now, if you are using the firebase-admin SDK, it should work as expected if you use < 10 (e.g 9.21.0)

[2022-03-07 16:40] gitdubz commented on #196
Can you perhaps provide me with a code example of how you are using this at the moment?

[2022-03-07 23:31] echong112 commented on #196
This seems to have solved the issue.

[2022-03-10 13:14] ptreitler commented on #196
Pretty much exactly as described in the other issue:
[code]

[2022-03-10 13:22] ptreitler commented on #196
I haven't managed to fix this by downgrading react-native-firebase after trying several older major versions. Not sure which one would correspond to the admin SDK v9.* though.

@gitdubz I also noticed that some older entries created by the SDK have a schemaRef like `fl_schemas/videos`, but _can_ be edited just fine.

[2022-03-10 15:32] ptreitler commented on #196
I found a different workaround - updating the broken timestamp manually:
[code]

Setting the draft status seems to work this way as well.

[2022-03-13 14:49] athomasoriginal opened #197 "Media Fields Store Data as Document Reference"
## What's Up?

We have a flamelink project from 2 years ago (Project A).  We are now creating a new flamelink project (Project B).  The schemas between Project A and Project B were created in the same way through the flamelink UI.  The issue is that the `Media Field` (images) in Project B are stored as a `reference` in `Firestore Database`, where as the `Media Field` (images) in Project B are stor

[2022-04-01 14:27] zawadzki-dawid opened #198 "[FLAMELINK] The "firestore" Firebase service could not be instantiated."
Hi,

I have a problem with instantiating a Firebase service. For me, it looks like I'm doing everything right, but maybe I'm missing something.

Current setting is;
-     "flamelink": "^1.0.0-rc.1",
-     "firebase": "9.1.2"

But I've tested various `flamelink` and `firebase` versions

`Error: [FLAMELINK] The "firestore" Firebase service could not be instantiated. Please ensure you have imported t

[2022-04-01 14:47] #198 closed

[2022-04-01 14:48] zawadzki-dawid commented on #198
I've missed the solved issue, sorry https://github.com/flamelink/flamelink-js-sdk/issues/180

[2022-04-08 16:30] ptreitler opened #199 "content.get is very slow with populate: true"
In my app (Android + iOS) I use `content.get()` to retrieve data from flamelink.

When I set the `populate` option to `true` the call loads for a very long time - by a factor of 10 longer compared to when it's off.
The schema in question is quite simple, but it has three referential fields and one media field.

The network inspector shows low amounts of activity with long idle times in between. At

[2022-04-08 16:36] ptreitler commented on #199
Also on Android loading times are significantly longer yet again compared to iOS.
Possibly related to this bug in react-native-firebase: https://github.com/invertase/react-native-firebase/issues/5941

[2022-08-28 15:10] jambrose42 opened #205 "Question re: Supported Firebase versions"
I'm test driving Flamelink, and really like what I see so far.  However, I'm concerned that this project is no longer in active development.  I'm happy to be a paying customer, but I can't afford to use an supported product for my project.

The SDK package itself has dependency firebase-tools 8.4.3, and the current version is 11.8.0.  It's not clear what version of Firebase (currently 9.9.3) and A

[2022-08-31 07:12] gitdubz commented on #205
Hi @jambrose42,

The Flamelink SDK does not support modular version of the Firebase SDK. You can have a look at it here
https://github.com/flamelink/flamelink-js-sdk/issues/172

If the version of AngularFire requires modular support version of the Firebase SDK and does not support the compat mode then you will need to use the Firebase SDK directly which means you won't have the support of the Flam